{{> header }}
<div class="page-container page">
    <main class="main-content">
        <div class="container">
            <div id="bread-crumbs">
                <ul>
                    <li><a href="/">Главная</a></li>
                    <li><a href="/404">404</a></li>
                </ul>
            </div>

            <section class="m-auto centered-section">
                <div class="d-flex not-found-page">
                    404 - Страница не найдена :(

                    <a href="/">Вернутся на главную</a>
                </div>
            </section>
        </div>
    </main>
</div>

{{> footer }}
