{{> header }}
<div class="page-container page" id="login-page">
    <main class="main-content">
        <div class="container">

            <div id="bread-crumbs">
                <ul>
                    <li><a href="/">Главная</a></li>
                    <li><a href="/dropshipping">Дропшиппинг</a></li>
                </ul>
            </div>

            <section class="m-auto centered-section">
                <h3 class="title text-center">Дропшиппинг</h3>
            </section>
        </div>
    </main>
</div>

{{> footer }}
