{{> header }}
<div class="page-container page" id="update-page">
    <main class="main-content">
        <div class="container">
            {{log this.user}}

            <div id="bread-crumbs">
                <ul>
                    <li><a href="/">Главная</a></li>
                    <li><a href="/user/cabinet">Личный кабинет</a></li>
                    <li><a href="/user/edit-user">Обновление личных данных</a></li>
                </ul>
            </div>

            <section class="m-auto centered-section" style="max-width: 500px;">
                <h3 class="title text-center">Страница обновления личных данных</h3>
                <div class="errorBlock"></div>
                <div class="d-flex">
                    <form class="w-100" id="update-form">
                        <div class="form-group row m-0 mt-2">
                            <input type="text" class="form-control-plaintext text-input" id="name-input"
                                   name="initials" placeholder="Введит ваши инициалы" value="{{this.user.initials}}"
                                   required>
                        </div>

                        <div class="form-group row m-0 mt-2">
                            <input type="tel" class="form-control-plaintext text-input" id="phone-input"
                                   value="{{this.user.phone}}"
                                   placeholder="Телефон" data-target="phone" name="phone" maxlength="19" required>
                        </div>

                        <div class="form-group row m-0 mt-2">
                            <input type="text" class="form-control-plaintext text-input" id="email-input"
                                   value="{{this.user.email}}"
                                   placeholder="E-mail" name="email" required>
                        </div>

                        <div class="form-group row m-0 mt-2">
                            <input type="password" class="form-control-plaintext text-input" id="password-input"
                                   placeholder="Введите новый пароль" name="password">
                        </div>

                        <div class="form-group row m-0 mt-2">
                            <input type="password" class="form-control-plaintext text-input" id="password-retype"
                                   placeholder="Введите новый пароль еще раз" name="repassword">
                        </div>

                        <div class="form-group row m-0 mt-2">
                            <div class="select-input-box">
                                <select id="country-input" class="form-control select-input" name="country">
                                    <option selected>{{this.user.country}}</option>
                                    <option>Россия</option>
                                    <option>Беларусь</option>
                                    <option>Украина</option>
                                </select>
                            </div>
                        </div>

                        <div class="form-group row m-0 mt-2">
                            <input type="text" class="form-control-plaintext text-input" id="city-input"
                                   placeholder="Город" name="city" value="{{this.user.city}}" required>
                        </div>

                        <div class="form-group row m-0 mt-2 mb-2">
                            <input type="number" class="form-control-plaintext text-input" id="branch-number"
                                   placeholder="Номер отделения" name="branch-number"
                                   value="{{this.user.branch_number}}"
                                   required>
                        </div>

                        <div class="row m-0 mb-2">
                            <button type="submit" class="btn w-100 ibtn">Сохранить</button>
                        </div>

                        <div class="row m-0 mb-2 text-center">
                            <a href="/user/cabinet" class="d-block m-auto text-center back-link">Вернуться
                                в личный кабинет</a>
                        </div>
                    </form>

                    <div class="modal fade" id="successModal" tabindex="-1" role="dialog"
                         aria-labelledby="successModal"
                         aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title">Ваши данные успешно обновлены!</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>

                                <div class="modal-footer">
                                    <div class="row m-0 mb-2 text-center">
                                        <a href="#!" class="btn ibtn close" data-dismiss="modal"
                                           aria-label="Close"
                                           style="font-size: 15px;text-transform: uppercase;padding: 10px;padding-bottom: 5px;">Ок</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </main>
</div>

{{> footer }}
