{{> header }}

{{> slider }}

<div id="main-page" class="page">
    <main class="main-content container">
        <section id="products-section">
            {{> sliderTopSalesProduct}}
            {{> newProductsList }}
        </section>
        {{> brands}}

        <!--commentslider в будущем-->

        {{> seocomment }}
    </main>
</div>

{{> footer }}
