{{> header }}
<div class="page-container page" id="login-page">
    <main class="main-content">
        <div class="container">

            <div id="bread-crumbs">
                <ul>
                    <li><a href="/">Главная</a></li>
                    <li><a href="/login">Логин</a></li>
                </ul>
            </div>

            <section class="m-auto centered-section">
                <h3 class="title text-center"> Логин</h3>

                <div class="error-messages active"></div>

                <div class="d-flex">
                    <form class="w-100" id="login-form">

                        <div class="form-group row m-0 mt-2">
                            <input type="text" required class="form-control-plaintext text-input" id="email-input"
                                   placeholder="Введите почтовый адрес">
                        </div>

                        <div class="form-group row m-0 mt-2">
                            <input type="password" required class="form-control-plaintext text-input " id="password"
                                   placeholder="Пароль">
                        </div>

                        <div class="row m-0 mb-2 mt-2">
                            <button type="submit" class="btn w-100 ibtn">Войти</button>
                        </div>

                        <div class="row m-0 mb-2">
                            <a href="/registration" class="btn w-100 ibtn-white">Зарегестрироваться</a>
                        </div>

                        <div class="row m-0 mb-2 text-center">
                            <a href="/password-reset" class="d-block m-auto text-center next-link">Восcтановить
                                пароль</a>
                        </div>
                    </form>
                </div>
            </section>
        </div>
    </main>
</div>

{{> footer }}
