{{> header }}
<div class="page-container" id="order-page">

    <main class="main-content">
        <div class="container">
            <div id="bread-crumbs">
                <ul>
                    <li><a href="/bucket">Корзина</a></li>
                    <li><a href="/order">Оформление заказа</a></li>
                </ul>
            </div>

            <section class="order-section">
                <div class="row justify-content-between">
                    <div class="col-12 col-md-6 col-lg-5 mb-5 order-bucket">
                        <h5 class="title text-center mb-3">КОРЗИНА</h5>

                        <div class="bucket__products">
                            <div class="scroll-box"></div>
                        </div>

                        <div class="row order-price-box col-12 p-1 mt-2">
                            <div class="col-12">
                                <span class="sum">Сумма заказа: <i class="purchase-sum"></i></span>
                            </div>
                        </div>
                    </div>

                    <div class="col-12 col-md-6 col-lg-5 col-xl-4 mb-5">

                        <div>
                            <h5 class="title text-center mb-3">ДАННЫЕ ПОКУПАТЕЛЯ</h5>

                            <div class="d-flex">
                                <form class="w-100" id="order-form" data-id={{this.user.dataValues.id}}>
                                    <div class="form-group row m-0 mt-2">
                                        <input name="name"
                                               type="text"
                                               class="form-control-plaintext text-input"
                                               id="name-input"
                                               placeholder="ФИО"
                                               required
                                               value="{{this.user.dataValues.initials}}"
                                        >
                                    </div>

                                    <div class="form-group row m-0 mt-2">
                                        <input name="phone" type="tel" class="form-control-plaintext text-input"
                                               id="phone-input"
                                               placeholder="Телефон"
                                               data-target="phone"
                                               maxlength="19"
                                               required
                                               value="{{this.user.dataValues.phone}}"
                                        >
                                    </div>

                                    <div class="form-group row m-0 mt-2">
                                        <input name="email" type="text" class="form-control-plaintext text-input"
                                               id="email-input"
                                               placeholder="E-mail"
                                               required
                                               value="{{this.user.dataValues.email}}"
                                        >
                                    </div>

                                    <div class="form-group row m-0 mt-2">
                                        <div class="select-input-box">
                                            <select name="country" id="country-input" class="form-control select-input">
                                                <option selected>Украина</option>
                                                <option>Россия</option>
                                                <option>Белоруссия</option>
                                            </select>
                                        </div>
                                    </div>

                                    <div class="form-group row m-0 mt-2">
                                        <input name="city" type="text" class="form-control-plaintext text-input"
                                               id="city-input"
                                               placeholder="Город и адрес"
                                               required
                                               value="{{this.user.dataValues.city}}">
                                    </div>

                                    <div class="form-group row m-0 mt-2 mb-2">
                                        <input name="branch_number" type="number"
                                               class="form-control-plaintext text-input"
                                               id="branch-number" placeholder="Номер отделения" required
                                               value="{{this.user.dataValues.branch_number}}"
                                        >
                                    </div>

                                    <div class="form-group row m-0 mt-2">
                                            <textarea name="comment" class="form-control-plaintext textarea-input"
                                                      id="comment-input"
                                                      placeholder="Комментарий"> </textarea>
                                    </div>

                                    <div class="row mt-4">
                                        <div class="col-12 font-weight-normal">
                                            <p> Для подтверждения заказа наш менеджер свяжется с вами
                                                в ближайшее время.</p>

                                            <p>Нажимая кнопку «заказать» Вы соглашаетесь с условиями доставки и
                                                оплаты.</p>
                                        </div>
                                    </div>


                                    <div class="row m-0 mt-4">
                                        <button class="btn w-100 ibtn">Заказать</button>
                                    </div>

                                    <div class="row back-link-box">
                                        <div class="col-12 mt-4 font-weight-normal">
                                            <a href="/catalog/1" class="d-inline-block m-auto text-left next-link">Вернуться
                                                к покупкам</a>
                                        </div>
                                    </div>
                                </form>

                                <div class="modal fade" id="successModal" tabindex="-1" role="dialog"
                                     aria-labelledby="successModal" aria-hidden="true">
                                    <div class="modal-dialog modal-dialog-centered" role="document">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title">Регистрация прошла успешно!</h5>
                                                <button type="button" class="close" data-dismiss="modal"
                                                        aria-label="Close">
                                                    <span aria-hidden="true">&times;</span>
                                                </button>
                                            </div>

                                            <div class="modal-footer">
                                                <div class="row m-0 mb-2 text-center">
                                                    <a href="/login" class="btn ibtn">Авторизироваться</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

            <section class="text-center">
                <div class="row justify-content-center p-3">
                    <div class="col-12 col-lg-6">
                        <h5 class="section-title">
                            КАК ЗАКАЗАТЬ
                        </h5>
                        <p> здесь будет красивый подзаголовок </p>
                        <p> Lorem ipsum dolor sit amet consectetur, adipisicing elit. Deserunt iure rerum
                            consequuntur quae
                            obcaecati dicta beatae ratione est tenetur inventore. Officiis illo temporibus error
                            reiciendis! Nam, repudiandae. Eveniet, sequi corporis.</p>
                    </div>
                </div>
            </section>

            <section class="order-info-section">
                <div class="row mt-5">
                    <div class="col-6 col-lg-3  text-center">
                        <div><img src="../assets/images/magic-stick.png" alt=""></div>
                        <p>Разнообразный и богатый опыт рамки и место обучения кадров влечет за собой процесс
                            внедрения</p>
                    </div>

                    <div class="col-6 col-lg-3 text-center">
                        <div><img src="../assets/images/clock-cloud.png" alt=""></div>
                        <p>Разнообразный и богатый опыт рамки и место обучения кадров влечет за собой процесс
                            внедрения
                        </p>
                    </div>

                    <div class="col-6 col-lg-3 text-center">
                        <div><img src="../assets/images/point.png" alt=""></div>
                        <p>Разнообразный и богатый опыт рамки и место обучения кадров влечет за собой процесс
                            внедрения</p>
                    </div>

                    <div class="col-6 col-lg-3 text-center">
                        <div><img src="../assets/images/like-gift.png" alt=""></div>
                        <p>Разнообразный и богатый опыт рамки и место обучения кадров влечет за собой процесс
                            внедрения</p>
                    </div>
                </div>
            </section>
        </div>
    </main>
</div>
{{> footer }}
