{{> header }}
<div id="reset-password-page" class="page page-container">
    <main class="main-content">
        <div class="container">

            <div id="bread-crumbs">
                <ul>
                    <li><a href="index.html">Главная</a></li>
                    <li><a href="login.html">Логин</a></li>
                    <li><a href="reset-password.html">Восстановление пароля</a></li>
                </ul>
            </div>

            <section class="m-auto centered-section">
                <h3 class="title text-center">Восстановление пароля</h3>
                <div class="errorBlock"></div>

                <div class="d-flex flex-column">
                    <form class="w-100" id="reset-password-form">

                        <div class="form-group row m-0 mt-2 mb-2">
                            <input type="text" class="form-control-plaintext text-input" id="email-input"
                                   placeholder="E-mail" required>
                        </div>

                        <div class="row m-0 mb-2">
                            <button type="submit" class="btn w-100 ibtn">Отправить</button>
                        </div>

                        <div class="row m-0 mb-2 text-center">
                            <a href="/login" class="d-block m-auto text-center back-link">Вернуться обратно</a>
                        </div>

                    </form>

                    <div class="modal fade" id="sendMessageModal" tabindex="-1" role="dialog"
                         aria-labelledby="sendMessage"
                         aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLabel">Успех</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>

                                <div class="modal-body p-3 container">

                                    <p class="title text-center">Мы отправили на ваш E-mail инструкцию по
                                        восстановлению
                                        пароля</p>

                                </div>

                                <div class="modal-footer">
                                    <div class="row m-0 mb-2 text-center">
                                        <a href="/login" class="btn ibtn">Авторизироваться</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </main>
</div>
{{> footer }}
