{{> header }}
<div class="page-container" id="private-office-page">
    <main class="main-content">
        <div class="container">

            <div id="bread-crumbs">
                <ul>
                    <li><a href="/">Главная</a></li>
                    <li><a href="/user/cabinet">Личный кабинет</a></li>
                </ul>
            </div>

            <section id="section_private_office">
                <h3 class="section-title text-center text-uppercase">Личный кабинет</h3>
                <div class="info_box container-fluid">

                    <div class="info_box__main row">
                        <div class="user_info col-12 col-sm-6">
                            <p class="user_name">{{this.user.initials}}</p>
                            <p class="user_phone">{{this.user.phone}}</p>
                        </div>

                        <div class="action col-12 col-sm-6 hidden-xs-down">
                            <p><a href="/user/edit-user" class="action-btn__settings">Редактировать данные</a></p>
                            <p><a href="#!" class="action-btn__exit">Выйти</a></p>
                        </div>

                        <div class="location col-12">
                            <p class="location_address">{{this.user.country}}, {{this.user.city}}</p>
                            <p class="location_email">{{this.user.email}}</p>
                        </div>

                        <div class="action col-12 col-sm-6 hidden-sm-up">
                            <p><a href="/user/edit-user" class="action-btn__settings">Редактировать данные</a></p>
                            <p><a href="#exit" class="action-btn__exit">Выйти</a></p>
                        </div>
                    </div>

                </div>
            </section>

            <section id="section_choosed_products">
                <h3 class="text-center text-uppercase section-title">Избранные товары</h3>
                <div class="products-block row">
                    {{#if (noWishes this.goods.products)}}
                        {{#each this.goods.products}}
                            <div class="product card w-auto col-6 col-md-4 col-lg-3" data-id="{{id}}">

                                <a href="/product/{{article}}">
                                    <div class="product__image-box">

                                        <img alt="Card image cap" class="card-img-top"
                                             src="../../images/products/{{imageCategory}}/{{mainImage}}">
                                        <button class="product__btn product__like {{#if
                                                (isTrue favorite)}}active{{/if}}"></button>
                                    </div>
                                </a>
                                <div class="card-body">
                                    <a href="/product/{{article}}">
                                        <h6 class="product__title">{{name}}</h6>
                                    </a>

                                    <div class="product__footer">
                                        <span class="product__article">{{article}}</span>
                                        <span class="product__price">{{sell_price}} {{../this.goods.choosedCurrency.ru_lang}}</span>
                                    </div>
                                </div>
                            </div>
                        {{/each}}
                    {{else}}
                        <div class="noProducts">Нет избранных товаров :(</div>
                    {{/if}}
                </div>
            </section>
        </div>
    </main>
</div>
{{> footer }}
