{{> header }}
<div class="page-container page" id="product-page">
    <main class="main-content">
        <div class="container">

            <div id="bread-crumbs">
                <ul>
                    <li><a href="/">Главная</a></li>
                    <li><a href="/catalog/1">Каталог</a></li>
                    <li><a href="/catalog/{{this.product.category}}/1">{{this.product.category}}</a></li>
                    <li><a href="/product/{{this.product.article}}/1">{{this.product.name}}</a></li>
                </ul>
            </div>


            <section id="section-product-info" class="product row pt-2">

                <div class="col-12 col-lg-8 product-slider">

                    <div class="images-block row">

                        <div class="all-images d-sm-block col-12 col-sm-4">
                            <div class="swiper-container">
                                <div class="swiper-wrapper">
                                    <div class="swiper-slide">
                                        <img src="../../images/products/{{this.product.imageCategory}}/{{this.product.mainImage}}"
                                             alt="">
                                    </div>
                                    {{#each this.product.dataValues.allImages}}
                                        <div class="swiper-slide">
                                            <img src="../../images/products/{{../this.product.dataValues.imageCategory}}/{{this}}"
                                                 alt="">
                                        </div>
                                    {{/each}}
                                </div>
                            </div>
                            <div class="swiper-pagination"></div>
                            <div class="swiper-button-prev"></div>
                            <div class="swiper-button-next"></div>
                        </div>

                        <div class="main-image d-none d-sm-block col-12 col-sm-8">
                            <img id="main-product-image" alt="">
                        </div>
                    </div>
                </div>

                <div class="col-12 col-lg-4 p-0 product-info-container" id="{{this.product.id}}">
                    <div class="product-info row m-lg-0 m-0">
                        <div class="col-12 col-md ml-lg-3 mr-lg-3">
                            <div class="row">
                                <div class="col-12 col-lg-6 col-lg-12 m-0">
                                    <h5 class="m-0 text-uppercase">{{this.product.name}}</h5>
                                    <p class="productArticle">Артикул: {{this.product.article}}</p>
                                </div>

                                <div class="col-12 col-lg-6 col-lg-12 m-0">
                                    <div class="row product-info__prices">
                                        <div class="col-6">
                                            <h5 class="product-info__title">Оптовая цена</h5>
                                            <p class="product-info__price p-0">{{this.product.trade_price}} {{this.productCurrency.ru_lang}}</p>
                                        </div>

                                        <div class="col-6">
                                            <h5 class="product-info__title">Розничная цена</h5>
                                            <p class="product-info__price p-0">{{this.product.sell_price}} {{this.productCurrency.ru_lang}}</p>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-12 col-lg-6 col-lg-12 m-0">
                                    <h5 class="product-info__title">Выбрать размер:</h5>
                                    <div class="sizes">
                                        {{#each this.product.size}}
                                            <div class="size">{{this}}</div>
                                        {{/each}}
                                    </div>
                                </div>

                                <div class="col-12 col-lg-6 col-lg-12 m-0">
                                    <h5 class="product-info__title">Количество:</h5>
                                    <div class="count-box">
                                        <button class="count-box__button count-box__button_prev">-</button>
                                        <input type="number" class="count-box__count-input" maxlength="4" disabled>
                                        <button class="count-box__button count-box__button_next">+</button>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-12 col-md-6 col-lg-12 ml-lg-3 mr-lg-3">
                            <div class="fast-buy-form">
                                <div class="form-group row m-0 mt-2">
                                    <input type="text" class="form-control-plaintext" id="phone" placeholder="Телефон"
                                           data-target="phone" maxlength="19">
                                </div>

                                <div class="form-group row m-0 mt-2">
                                    <input type="text" class="form-control-plaintext" id="email" data-target="email"
                                           placeholder="E-mail">
                                </div>

                                <div class="form-group row m-0 mt-2">
                                    <input type="text" class="form-control-plaintext" id="comment"
                                           placeholder="Комментарий">
                                </div>

                                <div class="row m-0 mb-2 mt-2">
                                    <button type="button" class="btn w-100 fast-buy-button ">Купить в один клик</button>
                                </div>

                                <div class="row m-0 mb-2">
                                    <button type="button" class="btn w-100 buy-product">В корзину</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </section>

            <section id="section_product_description" class="product_description container">
                <div class="row">
                    <div class=" col-12 offset-0 col-md-8 offset-md-2">
                        <h5 class="m-2 text-uppercase text-center">ОПИСАНИЕ ТОВАРА</h5>
                        <p>
                            {{this.product.description}}
                        </p>
                    </div>
                </div>
            </section>


            <!--<section id="section_product_feedback" class="product_feedback">-->
            <!--<div class="row">-->
            <!--<div class="col-12 offset-0 col-md-8 offset-md-2">-->
            <!--<h3 class="text-uppercase title">ОТЗЫВЫ О ТОВАРЕ</h3>-->
            <!--<h5 class="sub-title">Оставить отзыв: </h5>-->

            <!--<form class="feedback_form">-->
            <!--<div class="form-group">-->
            <!--<input type="text" class="form-control" placeholder="Имя">-->
            <!--</div>-->

            <!--<div class="form-group">-->
            <!--<textarea class="form-control" id="exampleFormControlTextarea1" placeholder="Отзыв"-->
            <!--rows="3"></textarea>-->
            <!--</div>-->

            <!--<div class="form-group footer">-->
            <!--<button type="button" class="btn btn-secondary">Оставить отзыв</button>-->
            <!--</div>-->
            <!--</form>-->

            <!--<div class="feedbacks">-->


            <!--<div class="feedback_container">-->
            <!--<div class="row feedback-box">-->
            <!--<div class="col-12 col-sm-3 col-lg-2 feedback_info">-->
            <!--<span class="feedback_name">Елена</span>-->
            <!--<span class="feedback_date">17.08.2018</span>-->
            <!--</div>-->

            <!--<div class="col-12 col-sm-9 col-lg-10 feeaback_text">-->
            <!--Очень довольна покупкой! Платье сидит идеально, размер соответствует.-->
            <!--Ткань очень приятная к телу и по цвету то что я хотела.-->
            <!--Всем девушкам советую!-->
            <!--</div>-->
            <!--</div>-->
            <!--<div class="row feedback-box">-->
            <!--<div class="col-12 col-sm-3 col-lg-2 feedback_info">-->
            <!--<span class="feedback_name">Елена</span>-->
            <!--<span class="feedback_date">17.08.2018</span>-->
            <!--</div>-->

            <!--<div class="col-12 col-sm-9 col-lg-10 feeaback_text">-->
            <!--Очень довольна покупкой! Платье сидит идеально, размер соответствует.-->
            <!--Ткань очень приятная к телу и по цвету то что я хотела.-->
            <!--Всем девушкам советую!-->
            <!--</div>-->
            <!--</div>-->
            <!--<div class="row feedback-box">-->
            <!--<div class="col-12 col-sm-3 col-lg-2 feedback_info">-->
            <!--<span class="feedback_name">Елена</span>-->
            <!--<span class="feedback_date">17.08.2018</span>-->
            <!--</div>-->

            <!--<div class="col-12 col-sm-9 col-lg-10 feeaback_text">-->
            <!--Очень довольна покупкой! Платье сидит идеально, размер соответствует.-->
            <!--Ткань очень приятная к телу и по цвету то что я хотела.-->
            <!--Всем девушкам советую!-->
            <!--</div>-->
            <!--</div>-->
            <!--</div>-->

            <!--<ul class="pagination">-->
            <!--<li><a>&laquo;</a></li>-->

            <!--<li><a>1</a></li>-->
            <!--<li><a class="active">2</a></li>-->
            <!--<li><a>3</a></li>-->

            <!--<li><a>&raquo;</a></li>-->
            <!--</ul>-->
            <!--</div>-->
            <!--</div>-->
            <!--</div>-->
            <!--</section>-->
        </div>
    </main>
</div>

{{> footer }}
