{{> header }}
<div class="page-container page" id="registration-page">
    <main class="main-content">
        <div class="container">

            <div id="bread-crumbs">
                <ul>
                    <li><a href="/">Главная</a></li>
                    <li><a href="/login">Логин</a></li>
                    <li><a href="/registration">Регистрация</a></li>
                </ul>
            </div>

            <section class="m-auto centered-section">
                <h3 class="title text-center">Регистрация</h3>
                <div class="errorBlock"></div>
                <div class="d-flex">
                    <form class="w-100" id="registration-form">
                        <div class="form-group row m-0 mt-2">
                            <input type="text" class="form-control-plaintext text-input" id="name-input"
                                   name="initials" placeholder="ФИО" required>
                        </div>

                        <div class="form-group row m-0 mt-2">
                            <input type="tel" class="form-control-plaintext text-input" id="phone-input"
                                   placeholder="Телефон" data-target="phone" name="phone" maxlength="19" required>
                        </div>

                        <div class="form-group row m-0 mt-2">
                            <input type="text" class="form-control-plaintext text-input" id="email-input"
                                   placeholder="E-mail" name="email" required>
                        </div>

                        <div class="form-group row m-0 mt-2">
                            <input type="password" class="form-control-plaintext text-input" id="password-input"
                                   placeholder="Введите пароль" name="password" required>
                        </div>

                        <div class="form-group row m-0 mt-2">
                            <div class="select-input-box">
                                <select id="country-input" class="form-control select-input" name="country">
                                    <option selected>Украина</option>
                                    <option>Россия</option>
                                    <option>Беларусь</option>
                                </select>
                            </div>
                        </div>

                        <div class="form-group row m-0 mt-2">
                            <input type="text" class="form-control-plaintext text-input" id="city-input"
                                   placeholder="Город" name="city" required>
                        </div>

                        <div class="form-group row m-0 mt-2 mb-2">
                            <input type="number" class="form-control-plaintext text-input" id="branch-number"
                                   placeholder="Номер отделения" name="branch-number" required>
                        </div>

                        <div class="row m-0 mb-2">
                            <button type="submit" class="btn w-100 ibtn">Зарегестрироваться</button>
                        </div>

                        <div class="row m-0 mb-2 text-center">
                            <a href="/login" class="d-block m-auto text-center back-link">Вернуться
                                обратно</a>
                        </div>
                    </form>

                    <div class="modal fade" id="successModal" tabindex="-1" role="dialog"
                         aria-labelledby="successModal"
                         aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title">Регистрация прошла успешно!</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>

                                <div class="modal-footer">
                                    <div class="row m-0 mb-2 text-center">
                                        <a href="/login" class="btn ibtn">Авторизироваться</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </main>
</div>

{{> footer }}
