{{> header }}

<div class="page-container page" id="catalog-page">
    <main class="main-content">
        <div class="container">

            <div id="bread-crumbs">
                <ul>
                    <li><a href="/">Главная</a></li>
                    <li><a href="/catalog/{{this.activeCategory}}/1">{{this.activeCategory}}</a></li>
                </ul>
            </div>


            <div class="catalog-container row">
                {{> searchPageProduct}}
            </div>

            <section class="info-section">
                <div class="about-img-wrapper about-img-wrapper--desc">
                    <img alt=""
                         class="about-img img-fluid"
                         src="../../assets/images/about_image.jpg"></div>
                <div class="main">
                    <h2 class="section-title">SEO-ТЕКСТ ПРО ПЛАТЬЯ </h2>

                    <h4 class="section-subtitle">здесь будет красивый подзаголовок</h4>
                    <div class="about-img-wrapper about-img-wrapper--mobile">
                        <img alt=""
                             class="about-img img-fluid"
                             src="../../assets/images/about_image.jpg"/>
                    </div>
                    <p class="about-description">
                        Разнообразный и богатый опыт рамки и место обучения кадров влечет за собой процесс
                        внедрения и модернизации модели развития. Товарищи! консультация с широким активом в
                        значительной степени обуславливает создание существенных финансовых и административных
                        условий. Значимость этих проблем настолько очевидна, что новая модель организационной
                        деятельности в значительной степени обуславливает создание соответствующий условий
                        активизации. Разнообразный и богатый опыт сложившаяся структура организации
                        обеспечивает широкому кругу (специалистов) участие в формировании существенных
                        финансовых и административных условий.

                        С другой стороны начало повседневной работы по формированию позиции представляет собой
                        интересный эксперимент проверки существенных финансовых и административных условий.
                        Товарищи! начало повседневной работы по формированию позиции влечет за собой процесс
                        внедрения и модернизации существенных финансовых и административных условий. Значимость
                        этих проблем настолько очевидна, что реализация намеченных плановых заданий влечет за
                        собой процесс внедрения и модернизации системы обучения кадров, соответствует насущным
                        потребностям. С другой стороны рамки и место обучения кадров в значительной степени
                        обуславливает создание существенных финансовых и административных условий. Не следует,
                        однако забывать, что реализация намеченных плановых заданий обеспечивает широкому кругу
                        (специалистов) участие в формировании существенных финансовых и административных
                        условий.
                    </p>
                </div>
            </section>
        </div>

    </main>
</div>

{{> footer }}
