#page-footer {
  background-color: #c5dcd8;
  display: flex;
  margin-top: 100px;
  padding-top: 40px;
  padding-bottom: 40px;

  .footer-main {
    justify-content: space-between;
  }

  .left-side {
    margin-top: 20px;

    @include media-breakpoint-up(sm) {
      margin-top: 0;
    }

    .phone {
      color: #262626;
      font-family: Raleway;
      font-size: 16px;
      font-weight: 400;
    }

    @include media-breakpoint-down(sm) {
      order: -1;
    }

    @include media-breakpoint-down(xs) {
      order: 1;
      flex-direction: row;
      display: flex;
      justify-content: space-between;

      .social {
        h3 {
          font-size: 15px;
        }
      }

      .phone {
        font-size: 15px;
      }
    }

    .work-time-block {
      color: #262626;
      font-family: 'Raleway';
      font-size: 14px;
      font-weight: 400;
      /* Text style for "График раб" */
      letter-spacing: 0.7px;

      p {
        margin: 0;
      }
    }

    .social {
      display: inline-block;
      margin-top: 0;

      @include media-breakpoint-up(sm) {
        margin-top: 20px;
      }

      h3 {
        font-family: Raleway;
        font-size: 20px;
        font-weight: 400;
      }

      .social-box {
        margin-top: 10px;
        display: flex;
        justify-content: space-between;
      }
    }
  }

  .right-side {
    .right-side__menu--desc {
      a {
        color: #262626;
        font-family: 'Chekhovskoy';
        font-size: 14px;
        letter-spacing: 0.78px;
      }
    }

    @include media-breakpoint-down(sm) {
      order: -1;
      min-width: auto;

      .categories {
        text-align: right;

        .expanded-menu__col {
          &:nth-child(1) {
            a {
              text-align: left;
            }
          }

          &:nth-child(2) {
            a {
              text-align: right;
            }
          }
        }
      }
    }

    a {
      display: block;
    }

    @include media-breakpoint-down(sm) {
      justify-content: flex-end;
    }

    &__menu {
      @include media-breakpoint-down(xs) {
        .right-side__line {
          display: none;
        }
      }

      @include media-breakpoint-down(sm) {
        .right-side__line {
          display: block;
        }
      }

      .right-side__line {
        width: 1px;
        height: 24px;
        background-color: #000;
      }


      &--mobile {
        display: none;
        width: 100%;
        padding: 45px 0;
        justify-content: space-between;

        @include media-breakpoint-down(sm) {
          display: flex;

          .main-menu__link {

            &:after {
              display: none;
            }
          }
        }

        @include media-breakpoint-down(xs) {
          flex-wrap: wrap;
        }

        display: none;
      }

      &--desc {
        @include media-breakpoint-down(sm) {
          display: none;
        }

        display: block;
      }


      a {
        color: #262626;
        font-family: 'Chekhovskoy';
        font-size: 14px;
        /* Text style for "КАТАЛОГ" */
        letter-spacing: 0.78px;
        text-transform: uppercase;
        margin-bottom: 30px;
        position: relative;
        display: block;

        @include media-breakpoint-only(xs) {

          &:nth-child(1),
          &:nth-child(5) {
            &:after {
              content: '';
              left: 100%;
              top: 0;
              display: block;
              position: absolute;
              width: 1px;
              height: 100%;
              background-color: #000;
            }
          }
        }

        @include media-breakpoint-only(sm) {

          &:nth-child(1),
          &:nth-child(5) {
            &:after {
              display: none;
            }
          }
        }

        @include media-breakpoint-up(sm) {
          flex: 0 0 0;
          max-width: 100%;
          white-space: nowrap;

          &:after {
            content: '';
            display: block;
            position: absolute;
            bottom: -10px;
            left: 0;
            width: 18px;
            background-color: #000;
            height: 1px;
          }

          &:nth-child(1):after {
            content: '';
            display: block;
            position: absolute;
            top: unset;
            left: 0;
            width: 18px;
            background-color: #000;
            height: 1px;
          }

          &:last-child {
            &:after {
              display: none;
            }
          }
        }
      }
    }

    .categories {
      padding: 0;
      display: flex;
      justify-content: flex-end;
      
      @include media-breakpoint-down(xs) {
        flex-wrap: wrap;

        .row {
          margin: 0;
        }
      }

      & > .row {
        flex-wrap: nowrap;
        width: 100%;
      }

      li {
        max-width: 50%;
        width: 100%;
        display: flex;
        justify-content: flex-end;
      }

      a {
        color: #262626;
        font-family: "Raleway";
        font-size: 14px;
        font-weight: 400;
        line-height: 23px;
        display: flex;
      }

      .expanded-menu__col {
        padding: 0 10px;
      }
    }
  }
}

#copyright {
  width: 136px;
  padding: 15px 0;
  text-align: center;
  opacity: 0.4;
  text-align: center;
  color: #000000;
  font-family: Raleway;
  font-size: 14px;
  background-color: #fff;
  font-weight: 400;
  width: 100%;
}
