.top-nav {
  height: 80px;
  line-height: 80px;
  width: 100%;
  left: 0;
  top: 0;
  right: 0;
  display: flex;
  padding: 0 60px 0 30px;
  margin: 0;
  background-color: #ffffff;
  justify-content: space-between;
  width: 100%;
  background-color: transparent;

  @include media-breakpoint-down(xs) {
    padding: 0 15px 0 15px;
  }

  @include media-breakpoint-down(lg) {
    height: 60px;
    line-height: 60px;
    padding: 0 20px 0 20px;

    .logo {
      text-align: center;
    }
  }

  .nav__menu-burger {
    display: none;
  }

  .logo {
    text-align: left;

    .logo-img {
      height: 32px;
    }
  }

  .mobile-menu {
    display: none;

    @include media-breakpoint-down(lg) {
      display: block;
    }

    &__button {
      background-image: url('../images/icon_menu.png');
      @extend .icon-btn;
      width: 20px;
      height: 10px;
    }
  }

  .desktop-nav {
    display: flex;
    justify-content: flex-end;

    @include media-breakpoint-down(lg) {
      display: none;
    }

    .main-menu {
      display: flex;
      justify-content: flex-end;
      font-size: 14px;
      white-space: nowrap;
      letter-spacing: 0.78px;
      position: relative;

      &__item {
        margin: 0 14px;

        &:last-child {
          .main-menu__link {
            &:after {
              display: none;
            }
          }
        }
      }

      &__link {
        font-family: 'Chekhovskoy';
        color: #262626;
        text-transform: uppercase;
        position: relative;
        height: auto;

        &:after {
          content: '|';
          display: inline-block;
          position: absolute;
          width: 1px;
          right: -14px;
        }
      }

      &__catalog-link:hover {
        & + .expanded-menu {
          visibility: visible;
          opacity: 0.7;
        }
      }
    }

    .expanded-menu {
      position: absolute;
      top: 45px;
      left: 0;
      width: 100%;
      background-color: #ffffff;
      opacity: 0;
      padding: 40px 20px 20px 20px;
      visibility: hidden;
      transition: visibility 0.2s linear, opacity 0.2s linear;
      z-index: 2;

      &:hover {
        visibility: visible;
        opacity: 0.7;
      }

      &__col {
        display: flex;
        flex-direction: row;
        flex-grow: 0;
        flex-wrap: wrap;
        align-items: flex-start;

        li {
          max-width: 50%;
          width: 100%;
          display: flex;
        }

        a {
          color: #262626;
          font-family: "Raleway";
          font-size: 14px;
          font-weight: 400;
          line-height: 23px;
          display: inline;
        }
      }
    }
  }

  .right-menu {
    display: flex;
    justify-content: flex-end;
    align-items: center;

    button {
      margin: 0 5px;

      &:first-child {
        margin-left: 0;
      }
    }

    @include media-breakpoint-down(sm) {

      button {
        &:last-child {
          margin-right: 0;
        }
      }
    }

    @include media-breakpoint-down(lg) {
      .right-menu {
        display: none;
      }

      .icon-link__like {
        display: none;
      }
    }

    .icon-link {
      margin: 0 14.5px;
    }
  }

  .language {
    text-align: right;
    z-index: 999;

    @include media-breakpoint-down(lg) {
      display: none;
    }
  }
}
