@font-face {
    font-family: "Chekhovskoy";
    src: url("../fonts/Chekhovskoy.ttf"),
}

@font-face {
    font-family: "Relaway";
    src: url("../fonts/Raleway-Regular.ttf"),
}

@font-face {
    font-family: "Raleway Medium";
    src: url("../fonts/Raleway-Medium.ttf"),
}