.section-title {
  text-align: center;
  color: #262626;
  font-family: Chekhovskoy;
  font-size: 20px;
  /* Text style for "ТОП ПРОДАЖ" */
  letter-spacing: 1px;
  margin-bottom: 30px;
  text-transform: uppercase;
}

.modal {
  overflow: auto !important;
}

.icon-link {
  outline: none !important;
  border: none;
  display: block;

  &__search {
    background-image: url('../images/icon_search.png');
    width: 21px;
    height: 22px;
  }

  &__like {
    background-image: url('../images/icon_like.svg');
    width: 28px;
    height: 28px;
  }

  &__shop {
    background-image: url('../images/icon_shop.png');
    width: 20px;
    height: 22px;
  }

  &__chrest {
    background-image: url('../images/icon_chrest.png');
    width: 20px;
    height: 22px;
  }

  @extend .icon-btn;
}

.action {
  &settings {}
}

.products-block {
  position: relative;

  .product {
    border: none;
    position: relative;
    max-width: 230px;
    width: 100%;

    &__remove {
      cursor: pointer;
      top: 5px;
      right: 20px;
      width: 15px;
      height: 15px;
      border-radius: 50%;
      position: absolute;
      background-position: center;
      background-image: url('../images/icon_remove-round.png')
    }

    &__btn {
      width: 20px;
      height: 22px;
      position: absolute;
      bottom: 8px;
      background-size: contain;
      background-repeat: no-repeat;
      display: block;
      background-color: transparent;
      outline: none;
      border: none;
      cursor: pointer;
      width: 15px;
      height: 15px;
    }

    &__like {
      background-image: url('../images/icon_like_white.svg');
      left: 8px;
      width: 20px;
      height: 20px;

      &.active {
        background-image: url('../images/icon_like_red.svg');
        opacity: 1;
      }
    }

    &__bag {
      background-image: url('../images/icon_bag.png');
      right: 8px;
    }

    &__image-box {
      position: relative;
      cursor: pointer;

      &:after {
        content: '';
        display: block;
        position: absolute;
        background-color: #000;
        transition: 0.5s opacity;
        opacity: 0;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 1;
      }

      img {
        position: relative;
      }

      button {
        opacity: 0;
        transition: opacity 0.5s;
        z-index: 2;
        transition: 0.5s transform;

        &:hover {
          transform: scale(1.1)
        }
      }

      &:hover {
        &:after {
          opacity: 0.3;
        }

        button {
          opacity: 1
        }
      }
    }

    .card-body {
      padding: 10px 0;
    }

    &__title {
      font-family: "Raleway";
      font-size: 14px;
      font-weight: 400;
      /* Text style for "Голубое пл" */
      letter-spacing: 0.6px;
      margin-bottom: 5px;
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
      display: block;
    }

    &__footer {
      display: flex;
      justify-content: space-between;
    }

    &__article {
      color: #262626;
      font-family: Raleway;
      font-size: 14px;
      font-weight: 400;
      text-transform: uppercase;
      /* Text style for "S/M/L" */
      letter-spacing: 0.7px;
    }

    &__price {
      color: #262626;
      font-family: 'Raleway';
      font-size: 14px;
      font-weight: 400;
      /* Text style for "500 грн" */
      letter-spacing: 0.7px;
    }
  }
}

.icon-btn {
  outline: none !important;
  border: none;
  background-repeat: no-repeat;
  background-position: 50%;
  background-size: contain;
  cursor: pointer;
  display: inline-block;

  &.chrest {
    background-image: url('../images/icon_chrest.png');
    width: 15px;
    height: 16px;
  }
}

.social-icon {
  display: block;
  width: 21px;
  height: 21px;
  @extend .icon-btn;

  &__inst {
    background-image: url('../images/icon_instagram.png');
  }

  &__fb {
    background-image: url('../images/icon_fb.png');
  }

  &__twitter {
    background-image: url('../images/icon_twitter.png');
  }
}

.phone {
  font-size: 20px;
  font-weight: 400;
  color: #262626;
  display: inline-block;

  &:before {
    content: '';
    display: inline-block;
    width: 20px;
    height: 20px;
    background-image: url('../images/icon_phone.png');
    background-repeat: no-repeat;
    background-size: contain;
    margin-right: 5px;
    vertical-align: middle;
  }
}

.language {
  text-align: right;
  z-index: 999;
  overflow: visible;
  text-transform: uppercase;
  white-space: nowrap;

  .sl-nav {
    display: inline;
    position: relative;
  }

  .sl-nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
    position: relative;
    display: inline-block;
  }

  .sl-nav li {
    cursor: pointer;
    font-family: "Raleway Medium";
    font-size: 14px;
    font-weight: 500;
    white-space: nowrap;
  }

  .sl-nav>ul>li>b {
    position: relative;

    &:after {
      @extend .icon-btn;
      background-image: url('../images/icon_small_arrow.png');
      position: absolute;
      top: 2px;
      right: -15px;
      width: 11px;
      height: 12px;
      content: '';
      display: block;
    }
  }

  .sl-nav li ul {
    padding-bottom: 10px;
    z-index: 999;
    position: relative;
    position: absolute;
    bottom: -50px;
    right: -25px;
    background: #fff;
    width: 120px;
    padding-top: 0px;
    z-index: 99;
    border-radius: 5px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
    display: none
  }

  .sl-nav li:hover ul {
    display: block
  }

  .sl-nav li:hover .triangle {
    position: absolute;
    top: 45px;
    right: -25px;
    z-index: 10;
    height: 14px;
    overflow: hidden;
    width: 30px;
    background: transparent;
    z-index: 100;
  }

  .sl-nav li:hover .triangle:after {
    content: '';
    display: block;
    z-index: 20;
    width: 15px;
    transform: rotate(45deg) translateY(0px) translatex(10px);
    height: 15px;
    background: #fff;
    border-radius: 2px 0px 0px 0px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
  }

  .sl-nav li ul li {
    position: relative;
    text-align: left;
    background: transparent;
    padding: 15px 15px;
    padding-bottom: 0;
    z-index: 2;
    color: #000;
    margin: 0;
    line-height: 1;
  }

  .sl-nav li ul li:last-of-type {
    padding-bottom: 5px;
  }

  .sl-nav li ul li span {
    padding-left: 5px;
  }

  .sl-nav li ul li span:hover,
  .sl-nav li ul li span.active {
    color: #146c78;
  }
}

.swiper-pagination {
  .swiper-pagination-bullet {
    &-active {
      background: #fff;
    }
  }
}

.swiper-container {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.img-box {
  overflow: hidden;

  img {
    width: 100%;
    object-fit: cover;
  }
}

.bg-blue {
  background-color: #c5dcd8;
}

.section-title {
  margin: 60px 0 20px 0;
}

.action-btn {
  display: inline-block;

  &__settings {
    position: relative;

    &:before {
      content: '';
      display: inline-block;
      width: 15px;
      height: 15px;
      background-image: url('../images/icon_settings_small.png');
      margin-right: 5px;
    }
  }

  &__exit {
    position: relative;

    &:before {
      content: '';
      margin-right: 5px;
      display: inline-block;
      width: 15px;
      height: 15px;
      background-image: url('../images/icon_logout_small.png');
    }
  }
}

.ibtn {
  background-color: #c5dcd8;
  border: 2px solid #c5dcd8;
  display: block;
  color: black;
  border-radius: 0;
}

.ibtn-white {
  @extend .ibtn;
  background-color: #fff;
}

.back-link {
  position: relative;

  display: inline-block;

  &:before {
    content: '';
    display: block;
    position: absolute;
    background-repeat: no-repeat;
    background-size: contain;
    left: -16px;
    top: 4px;
    width: 12px;
    height: 12px;
    background-image: url('../images/icon_left_arrow_slide.png')
  }
}

.next-link {
  position: relative;

  display: inline-block;

  &:before {
    content: '';
    display: block;
    position: absolute;
    background-repeat: no-repeat;
    background-size: contain;
    right: -24px;
    top: 4px;
    width: 12px;
    height: 12px;
    background-image: url('../images/icon_right-arrow_slide.png')
  }
}

.text-input {
  border: 1px solid rgba(0, 0, 0, 0.3);
  padding-left: 5px;
  padding-right: 5px;
  color: #000000;
  font-family: Raleway;
  font-size: 14px;
  font-weight: 400;
  /* Text style for "ФИО" */
  letter-spacing: 0.78px;
  border-radius: 0;
  -webkit-appearance: none;

  &:-webkit-input-placeholder {
    opacity: 0.3;
  }
}

.textarea-input {
  border: 1px solid rgba(0, 0, 0, 0.3);
  padding: 8px;
  min-height: 115px;
  width: 100%;
  color: #000000;
  font-family: Raleway;
  font-size: 14px;
  font-weight: 400;
  /* Text style for "ФИО" */
  letter-spacing: 0.78px;
  border-radius: 0;
  -webkit-appearance: none;

  &:-webkit-input-placeholder {
    opacity: 0.3;
  }
}

.input-error {
  border: 1px solid red;
}

.my-btn {
  height: 20px;
  line-height: 16px;
  border: 1px solid #979797;
  background-color: #fff;
  white-space: nowrap;
  color: #000000;
  font-family: Raleway;
  font-size: 11px;
  font-weight: 400;
  margin: 0 10px;
  cursor: pointer;

  &--blue {
    background-color: #c5dcd8;
  }

  &--toggle {
    position: relative;
    padding-right: 20px;

    &:after {
      @extend .icon-btn;
      content: '';
      position: absolute;
      display: block;
      width: 9px;
      height: 5px;
      background-image: url('../images/small_down_arrow.png');
      right: 5px;
      top: 7px;
    }
  }
}

.select-input-box {
  position: relative;
  width: 100%;

  select {
    border: 1px solid rgba(0, 0, 0, 0.3);
    padding-left: 5px;
    padding-right: 5px;
    color: #000000;
    font-family: Raleway;
    font-size: 14px;
    font-weight: 400;
    /* Text style for "ФИО" */
    letter-spacing: 0.78px;
    border-radius: 0;
    -webkit-appearance: none;
    padding-right: 42px;

    &:-webkit-input-placeholder {
      opacity: 0.3;
    }
  }

  &:after {
    position: absolute;
    top: 0;
    right: 0;
    width: 38px;
    height: 38px;
    background: #c5dcd8;
    background-image: url('../images/icon_right_arrow_white.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-size: 8px;
    background-position: center;
    transform: rotate(90deg);
    pointer-events: none;
    content: '';
    display: block;
  }
}

// .my-select {
//     height: 20px;
//     border: 1px solid #979797;
//     white-space: nowrap;
//     color: #000000;
//     font-family: Raleway;
//     font-size: 11px;
//     font-weight: 400;
//     padding: 0 4px;
//     height: 1.25rem !important;
//     width: auto;
//     margin: 0 10px;
// }

.side-modal {
  width: 260px;
  background-color: #ffffff;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;

  &__header {
    @extend .modal-header;
    color: #000000;
    font-family: 'Chekhovskoy';
    font-size: 20px;
    padding: 15px 0;
  }

  &__title {
    color: #000000;
    font-family: Chekhovskoy;
    font-size: 20px;
    padding: 50px 0 20px 20px;
  }

  &__list-block {}

  &__list-item-link {
    position: relative;
    cursor: pointer;
    font-family: "Raleway";

    &:after {
      @extend .icon-btn;
      content: '';
      position: absolute;
      right: 10px;
      top: 15px;
      width: 15px;
      height: 15px;
      display: block;
      background-image: url('../images/icon_right-arrow_slide.png')
    }
  }
}

.count-box {
  display: flex;

  .count-box__button {
    width: 32px;
    height: 32px;
    line-height: 32px;
    background-color: #e5e5e5;
    box-shadow: none;
    color: inherit;
    border: none;
    padding: 0;
    font: inherit;
    cursor: pointer;
    outline: inherit;
  }

  .count-box__count-input {
    color: #262626;
    font-family: Raleway;
    font-size: 14px;
    font-weight: 400;
    /* Text style for "1" */
    letter-spacing: 0.7px;
    border: none;
    margin: 0;
    padding: 0 5px;
    outline: none;
    height: 32px;
    width: 64px;
    text-align: center;
  }
}

.more-wrapper {
  text-align: center;
  margin-top: 50px;

  .more-link {
    color: #262626;
    font-family: 'Raleway';
    font-size: 14px;
    font-weight: 400;
    cursor: pointer;
    display: inline-block;
    vertical-align: middle;

    &:after {
      content: '';
      margin-left: 10px;
      vertical-align: middle;
      display: inline-block;
      width: 14px;
      height: 15px;
      background-image: url('../images/icon_right-arrow_slide.png');
      background-size: contain;
      transform: rotate(90deg);
      background-repeat: no-repeat;
    }

    &--close:after {
      transform: rotate(-90deg);
      margin-top: -10px;
    }
  }
}

.pagination {
  display: flex;
  justify-content: center;
  margin-top: 20px;

  a {
    display: block;
    color: #262626;
    font-family: Raleway;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 0.7px;
    padding: 3px 19px;
    border: 1px solid #000;
    cursor: pointer;

    &.active {
      background-color: #c5dcd8;
      border: 1px solid #c5dcd8;
    }
  }

  li {
    margin: 0 3px;

    &.disabled {
      opacity: .4;
      pointer-events: none;

      &a {
        pointer-events: none;
      }
    }
  }
}