#contacts-page {
    font-family: 'Raleway';

    @include media-breakpoint-down(lg) {
        .main-content {
            padding: 0 !important;
            max-width: 100%;
        }
    }

    #section_contacts {
        .section-title {
            margin-bottom: 80px;

            @include media-breakpoint-down(sm) {
                margin-bottom: 30px;
            }
        }

        .contacts-block {
            height: 326px;
            background-color: #c5dcd8;
            position: relative;
            display: flex;

            @include media-breakpoint-up(xl) {
                height: 280px;
            }

            .info-box {
                z-index: 1;

                p {
                    margin: 0;
                }

                .phone-numbers {
                    margin-bottom: 35px;
                }

                .social {
                    margin-left: 0;
                }

                .work-time-block {
                    font-size: 14px;
                    font-weight: 400;
                    /* Text style for "График раб" */
                    letter-spacing: 0.7px;
                }
            }

            .social {
                color: #262626;
                margin: 0;
                z-index: 1;
                margin-top: 35px;
                margin-left: 0;

                h3 {
                    font-family: 'Raleway';

                    font-size: 20px;
                    font-weight: 400;
                }

                @include media-breakpoint-up(lg) {
                    margin-left: 130px;
                    margin-top: 0 !important;
                }

                .social-box {
                    display: flex;
                    justify-content: space-between;
                    width: 100%;
                }
            }

            .img-block {
                position: absolute;
                width: 475px;
                height: 475px;
                top: -115px;
                right: 0;
                background: transparent;
                z-index: 0;

                @include media-breakpoint-down(xs) {
                    width: 274px;
                    height: 274px;
                    top: 0;
                }

                img {
                    background: transparent;
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }
        }
    }
}