#product-page {
  #section-product-info {
    .product-info-container {
      @include media-breakpoint-down(md) {
        margin-top: 40px;
      }
    }

    .images-block {
      height: 518px;

      .all-images {
        .swiper-pagination {
          bottom: 20px;
          left: 50%;
          margin-left: -42px;

          .swiper-pagination-bullet-active {
            background-color: #c5dcd8;
          }

          .swiper-pagination-bullet {
            background-color: #ffffff;
            margin: 0 10px;
          }
        }

        // padding: 40px 0;
        .swiper-button-prev,
        .swiper-button-next {
          border-radius: 50%;
          width: 50px;
          height: 50px;
          background-size: 20%;
          background-color: #fff;
          top: auto;
          bottom: 10px;
        }

        .swiper-button-prev {
          left: 40px;
          right: auto;
        }

        .swiper-button-next {
          right: 40px;
        }


        @include media-breakpoint-up(sm) {
          .swiper-button-prev {
            top: -5px;
            left: 50%;
            margin-left: -22.5px;
            transform: rotate(90deg);
          }

          .swiper-button-next {
            bottom: -25px;
            left: 50%;
            margin-left: -22.5px;
            transform: rotate(90deg);
          }
        }
      }

      img {
        object-fit: contain;
        width: 100%;
        height: 100%;
      }

    }

    .product-info {
      margin-top: 50px;

      &__prices {
      }

      &__price {
        color: #262626;
        font-family: Raleway;
        font-size: 20px;
        font-weight: 400;
        /* Text style for "500 грн" */
        letter-spacing: 1px;
      }

      &__title {
        color: #262626;
        font-family: Raleway;
        font-size: 14px;
        font-weight: 400;
        /* Text style for "Оптовая це" */
        letter-spacing: 0.6px;
        margin-bottom: 10px;
      }

      .sizes {
        display: flex;
        flex-wrap: wrap;

        .size {
          padding: 5px 9px 3px 9px;
          border: 1px solid black;
          margin-right: 5px;
          margin-bottom: 10px;
          cursor: pointer;

          &.active {
            border: none;
            background-color: #c5dcd8;
            border: 1px solid #c5dcd8;
          }
        }
      }

      .fast-buy-form {
        margin-top: 42px;

        input {
          border: 1px solid rgba(0, 0, 0, 0.3);
          padding-left: 5px;
          padding-right: 5px;
        }

        button {
          background-color: #fff;
          border: 2px solid #c5dcd8;
          color: black;
          border-radius: 0;
        }

        .fast-buy-button {
          background-color: #c5dcd8;
        }
      }
    }
  }

  .product_description {
    margin-top: 50px;
    border: 1px solid #262626;
    padding-top: 35px;
    padding-bottom: 35px;
  }

  #section_product_feedback {
    &.product_feedback {
      margin-top: 50px;
    }

    .title {
      margin-bottom: 10px;
      font-family: Chekhovskoy;
      font-size: 20px;
      /* Text style for "ОТЗЫВЫ О Т" */
      letter-spacing: 1px;
    }

    .sub-title {
      margin-bottom: 10px;
      color: #262626;
      font-family: Raleway;
      font-size: 14px;
      font-weight: 400;
      /* Text style for "Оставить о" */
      letter-spacing: 0.6px;
    }

    .feedback_form {
      .form-group {
        margin-bottom: 20px;
      }

      .footer {
        display: flex;
        justify-content: flex-end;
      }
    }


    .feedbacks {
      margin-top: 50px;

      .feedback-box {
        padding: 0 15px;
      }

      @include media-breakpoint-up(sm) {
        flex-direction: column;

        .feedback-box {
          padding: 0;
        }
      }

      .feedback_info {
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        @include media-breakpoint-up(sm) {
          flex-direction: column;
        }
      }

      .feedback-box {
        margin-bottom: 55px;

        .feeaback_text {
          position: relative;

          &::before {
            content: '';
            display: block;
            position: absolute;
            top: 0;
            left: 0;
            height: 100%;
            background-color: #c5dcd8;
            width: 5px;
          }
        }
      }

    }
  }
}

.size-number {
  padding: 5px 9px 6px 9px;
  border: 1px solid black;
  margin-right: 5px;
  margin-bottom: 10px;
  cursor: pointer;
  background-color: #c5dcd8;
  border: 1px solid #c5dcd8;
}
