#section_private_office {
  .info_box {
    display: flex;
    margin-bottom: 61px;
    flex-direction: column;
    align-items: center;

    @include media-breakpoint-up(md) {
      flex-direction: row;
      align-items: flex-start;
      justify-content: center;
    }

    &__main {
      margin: 30px 0 0 0;

      @include media-breakpoint-up(md) {
        margin: 0;
      }

      > div {
        margin: 15px 0;
      }

      @include media-breakpoint-down(md) {
        margin-left: 0;
      }

      opacity: 0.8;
      color: #262626;
      font-family: Raleway;
      font-size: 14px;
      font-weight: 400;
      /* Text style for "lena.ivano" */
      letter-spacing: 0.78px;
    }

    .section-title {
      font-family: Chekhovskoy;
      font-size: 20px;
      /* Text style for "ИЗБРАННЫЕ" */
      letter-spacing: 1px;
    }

    a {
      color: #000;
    }

    p {
      margin: 0;
    }

    &_avatar {
      height: 200px;
      width: 200px;
      display: flex;
      align-items: center;
      background-color: #f2f2f2;

      img {
        object-fit: cover;
        width: 100%;
        height: 100%;
      }
    }


    .action {
      p:first-child {
        margin-bottom: 30px;
      }
    }
  }

  #section_choosed_products {
    overflow: hidden;
  }
}
