#catalog-page {
  .catalog-header {
    display: flex;
    flex-direction: row;
    font-family: Chekhovskoy;
    font-size: 20px;
    /* Text style for "ПЛАТЬЯ" */
    letter-spacing: 1px;

    .header-section {
      margin-bottom: 10px;
      font-family: Chekhovskoy;
      font-size: 20px;
      text-transform: uppercase;
      /* Text style for "ПЛАТЬЯ" */
      letter-spacing: 1px;
    }

    &__filters {
      flex-wrap: wrap;
      flex-grow: 1;
    }

    .sort-box {
      position: relative;
      margin-right: 0;
      margin-left: auto;

      .sort-btn {
        border: none;
        font-family: Raleway;
        font-size: 12px;
        font-weight: 400;
        text-transform: uppercase;
      }

      .sort-list {
        border: 1px solid #979797;
        position: absolute;
        bottom: 0;
        left: 100%;
        padding: 0;
        margin: 0;
        display: none;
        flex-direction: column;

        &.active {
          display: flex;
        }

        li {
          padding: 5px;
          color: #000000;
          font-family: Raleway;
          font-size: 11px;
          font-weight: 400;
          display: block;
          position: relative;
          line-height: 20px;
          white-space: nowrap;
          cursor: pointer;
          padding: 0;
          padding-left: 20px;
          padding-right: 10px;

          &:before {
            content: "\2713";
            display: none;
            position: absolute;
            top: 0;
            left: 8px;
          }

          &.active {
            background-color: #c5dcd8;

            &::before {
              display: inline;
            }
          }
        }
      }
    }

    &__filter {
      position: relative;
      margin-top: 5px;
      height: 20px;
      line-height: 20px;
      border: 1px solid #979797;
      color: #000000;
      font-family: Raleway;
      font-size: 11px;
      font-weight: 400;
      white-space: nowrap;
      padding: 0 7px;
      margin-left: 20px;
      line-height: 17px;

      button {
        @extend .icon-link;
        @extend .icon-link__chrest;
        height: 9px;
        width: 9px;
        margin-left: 7px !important;
        cursor: pointer;
      }
    }

    .my-btn--blue {
      display: none;

      &.active {
        display: block !important;
      }
    }

    button {
      margin: 0;
      margin-top: 5px;

      &:first-child {
        margin-right: 5px;
      }
    }

    @include media-breakpoint-down(sm) {
      margin-bottom: 30px;
    }
  }

  #catalog-products {
    display: flex;
    flex-direction: column;
  }

  .catalog {
    margin-top: 20px;
    flex-grow: 1;
  }

  .catalog-container {
    color: #000000;
    font-family: Raleway;
    font-size: 14px;
    font-weight: 400;
    line-height: 23px;

    .filters-list {
      list-style: none;
      color: #000000;
      font-family: Raleway;
      font-size: 14px;
      font-weight: 400;
      line-height: 23px;

      li {
        a {
          color: inherit;
          /* blue colors for links too */
          text-decoration: inherit;
          /* no underline */
          color: #000000;
          font-family: Raleway;
          font-size: 14px;
          font-weight: 400;
          line-height: 23px;
          position: relative;
          transition: transform 1s;
          display: inline-block;

          &:after {
            position: absolute;
            transition: width 1s;
            content: '';
            bottom: 0;
            right: 0;
            height: 1px;
            width: 0;
            background-color: #000000;
          }

        }

        &:hover {
          a {
            transform: translateX(20px);

            &:after {
              width: calc(100% + 20px);
            }
          }
        }

        a {
          &.active {
            transform: translateX(20px);

            &:after {
              width: calc(100% + 20px);
            }
          }
        }
      }
    }

    .product-filters {
      &__title {
        height: 14px;
        color: #000000;
        font-family: Chekhovskoy;
        font-size: 14px;
        text-transform: uppercase;
      }

      &__sub-title {
        text-transform: uppercase;
        color: #000000;
        font-family: Raleway;
        font-size: 12px;
        font-weight: 400;
      }

      &__filters {
        margin-top: 56px;
      }
    }


    .sub-filter {
      margin-top: 40px;

      &:first-child {
        margin-top: 20px;
      }
    }

    .sub-filters-box {
      label {
        padding: 0;

        span {
          color: #000000;
          font-family: Raleway;
          font-size: 12px;
          font-weight: 400;
        }
      }

    }
  }

  #top-sales-section {
    max-width: 1200px;
    margin: 0 auto;

    .swiper-button-prev {
      background-image: url('../images/icon_left_arrow_slide.png');
      left: -20px;
      width: 18px;
      height: 31px;
      background-size: contain;
    }

    .swiper-button-next {
      background-image: url('../images/icon_right-arrow_slide.png');
      right: -20px;
      width: 18px;
      height: 31px;
      background-size: contain;
    }

    .product {
      &__title {
        text-align: left;
      }
    }
  }
}
