#products-section {
  .top-sales {
    margin: 50px 0;
    position: relative;

    .swiper-button-prev {
      left: -50px;
      color: #a6a6a6;
      font-size: 30px;
      outline: none;
      background-image: url('../images/icon_left_arrow_slide.png');
      margin-top: -16px;
      background-size: contain;
      width: 24px;
      height: 32px;
    }

    .swiper-button-next {
      outline: none;
      right: -50px;
      margin-top: -16px;
      color: #a6a6a6;
      font-size: 30px;
      background-image: url('../images/icon_right-arrow_slide.png');
      background-size: contain;
      width: 24px;
      height: 32px;
    }

    .swiper-slide {
      width: 18%;
    }
  }

  .new-products {
    @include media-breakpoint-down(sm) {
      .product {
        width: 48%;
      }
    }

    @include media-breakpoint-down(md) {
      .product {
        width: 31%;
      }
    }

    @include media-breakpoint-down(lg) {
      .product {
        width: 23%;
      }
    }

    margin: 50px 0;
  }


}

.products {
  display: flex;
  flex-wrap: wrap;

  .product {
    margin-bottom: 30px;
    border: none;
    width: 18%;
    margin: 1%;

    .card-body {
      padding: 0;
      padding-top: 15px;
    }
  }
}

