@import "../../../node_modules/bootstrap/scss/bootstrap";
@import 'constants';
@import 'fonts';
@import 'helper';
@import 'component-top-nav';
@import 'component-footer';
@import 'section-products';
@import 'page-private-office';
@import 'page-contacts';
@import 'page-catalog';
@import 'page-product';

:focus {
  outline: #cee3e0 auto !important;
}

$grid-columns: 12;
$grid-gutter-width: 30px;
$sm: (600px);
// Medium screen / tablet
$md: (1024px);
// Large screen / desktop
$lg: (1440px);

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

button {
  background-color: transparent;
  outline: none !important;
}

div {
  outline: none !important;
}

button:focus {
  outline: none !important;
}

body {
  display: flex;
  font-family: 'Chekhovskoy';
  -webkit-overflow-scrolling: touch
}

.modal-backdrop {
  -webkit-overflow-scrolling: touch
}

html {
  height: 100%;
}

body {
  min-height: 100%;
}

a {
  color: #262626;
}

.page-container {
  width: 100%;
  min-height: 100%;
  display: flex;
  flex-direction: column;

  main {
    flex-grow: 1;

    .container {
      max-width: 1400px;

      .filters-container {
        max-width: 200px;
      }
    }
  }
}

.card-img-top {
  object-fit: cover;
  min-height: 220px;
  max-height: 220px;
}

// SLIDER
.slider-pagination-bullet--active {
  background-color: #fff;
  opacity: 1;
}

#main-page {
  @include media-breakpoint-down(lg) {
    .swiper-button-prev {
      display: none;
    }

    .swiper-button-next {
      display: none;
    }
  }
}

.header-section {
  .swiper-container {
    height: calc(100vh - 80px); // overflow: hidden;

    .swiper-slide {
      text-align: center;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }

    .swiper-button-prev {
      background-image: url('../images/icon_left_arrow_white.png');
      left: 95px;
      width: 18px;
      height: 31px;
      background-size: contain;
    }

    .swiper-button-next {
      background-image: url('../images/icon_right_arrow_white.png');
      right: 95px;
      width: 18px;
      height: 31px;
      background-size: contain;
    }
  }
}

#section-brands {
  .section-title {
    background-color: #c5dcd8;
    height: 35px;
    padding-top: 15px;
  }

  .brands-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    height: 240px;
    max-height: min-content;
    overflow: hidden;
    transition: height 0.5s linear;

    &.active {
      transition: height 0.5s linear;

      ~ .more-wrapper > .more-link--open {
        display: none;
      }

      ~ .more-wrapper > .more-link--close {
        display: block;
      }

      height: 100%;
    }

    ~ .more-wrapper > .more-link--open {
      display: block;
    }

    ~ .more-wrapper > .more-link--close {
      display: none;
    }

    .brand {
      padding: 20px;
      width: 20%;
      text-align: center;
      min-width: 200px;

      .brand-img {
        margin: 0 auto;
        display: block;
      }
    }
  }
}

#section-reviews {
  margin-top: 50px;

  .reviews {
    position: relative;

    .reviews-product {
      display: flex;
      flex-wrap: nowrap;
      flex-direction: row;
      font-family: 'Raleway';
      font-weight: 400;
      font-size: 13px;
      border: none;
      height: 100%;

      @include media-breakpoint-down(lg) {
        flex-direction: column;

        .reviews-product__image-box {
          width: 100%;
        }
      }

      &__body {
        display: flex;
        flex-wrap: nowrap;
        flex-direction: column;
        padding: 0;
        padding-left: 5px;
      }

      &__review {
        flex-grow: 1;
      }

      &-header {
        &__footer {
          display: flex;
          justify-content: space-between;
        }
      }

      &__contacts {
        display: flex;
        justify-content: space-between;
      }

      &__image-box {
        width: 140px;
        min-width: 140px;

        img {
          object-fit: cover;
          height: 100%;
          width: 100%;
        }
      }
    }
  }

  .swiper-button-prev {
    left: -50px;
    color: #a6a6a6;
    font-size: 30px;
    outline: none;
    background-image: url('../images/icon_left_arrow_slide.png');
    margin-top: -16px;
    background-size: contain;
    width: 24px;
    height: 32px;
  }

  .swiper-button-next {
    outline: none;
    right: -50px;
    margin-top: -16px;
    color: #a6a6a6;
    font-size: 30px;
    background-image: url('../images/icon_right-arrow_slide.png');
    background-size: contain;
    width: 24px;
    height: 32px;
  }

  .swiper-slide {
    width: 18%;
  }
}

.info-section {
  flex-direction: row;
  margin-top: 50px;
  display: flex;

  .section-title {
    color: #262626;
    font-family: 'Chekhovskoy';
    font-size: 20px;
    text-transform: uppercase;
    letter-spacing: 1px;
  }

  .section-subtitle {
    color: #262626;
    font-size: 14px;
    font-weight: 400;
    margin-top: 10px;
  }

  .about-description {
    color: #262626;
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    margin: 0;
  }

  @include media-breakpoint-down(sm) {
    flex-direction: column;
  }

  .about-img-wrapper {
    @include media-breakpoint-down(sm) {
      min-width: 100%;
      width: 100%;
      margin: 30px 0;
    }

    &--mobile {
      display: none;

      @include media-breakpoint-down(sm) {
        display: block;
      }
    }

    &--desc {
      display: block;

      @include media-breakpoint-down(sm) {
        display: none;
      }
    }

    min-width: 350px;
    width: 350px;
    object-fit: fill;

    img {
      object-fit: cover;
      height: 100%;
      width: 100%;
    }
  }

  .main {
    margin: 20px;

    .section-title {
      margin: 0;
      text-align: left;
      padding-left: 55px;
    }

    .section-subtitle {
      padding-left: 55px;
      background-color: #c5dcd8;
      font-size: 14px;
      font-weight: 400;
    }

    .about-description {
      color: #262626;
      font-family: 'Raleway';
      font-size: 14px;
      line-height: 21px;
      margin-top: 20px;
    }

    @include media-breakpoint-down(lg) {
      .section-title {
        text-align: center;
        padding-left: 0;
      }

      .section-subtitle {
        text-align: center;
        padding-left: 0;
      }
    }
  }
}

// MOBILE MENU
#search-container {
  overflow-y: hidden;
  z-index: 9999;

  .search-wrapper {
    width: 335px;
    position: absolute;
    right: 0;
    top: 80px;

    @include media-breakpoint-down(lg) {
      top: 60px;
    }

    // &:after {
    //     content: "";
    //     position: absolute;
    //     right: 100%;
    //     top: -16px;
    //     left: 23px;
    //     width: 0;
    //     height: 0;
    //     border-top: 7px solid transparent;
    //     border-right: 20px solid #fff;
    //     border-bottom: 7px solid transparent;
    //     transform: rotate(90deg);
    //     @include media-breakpoint-down(lg) {
    //         left: auto;
    //         right: 85px;
    //     }
    // }
    .main-search-field {
      border-radius: 0;
    }

    .submit-btn {
      visibility: hidden;
      position: absolute;
      left: 99999px;
    }

    .clear-search-btn {
      position: absolute;
      height: 36px;
      width: 36px;
      background-color: #fff;
      outline: none !important;
      background-size: auto;
      border: none;
      border-radius: 0;
      right: 1px;
      top: 1px;
      box-shadow: none;
    }
  }
}

.fixed-container {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  z-index: 9999;
  background-color: rgba(0, 0, 0, 0.3);
  display: block;
  opacity: 0;
  visibility: hidden;
  transition: visibility 0.3s, opacity 0.3s;
  overflow: hidden;

  &.active {
    opacity: 1;
    visibility: visible;
  }
}

#mobile-menu-container {
  .mobile-menu {
    overflow: auto;
    position: absolute;
    top: 0;
    bottom: 0;
    width: 300px;
    background-color: #fff;
    z-index: 999;
    transition: transform 0.3s linear;

    .mobile-menu__head {
      @extend .modal-header;
    }

    .mobile-menu__nav {
      .mobile-menu__item {
        line-height: 59px;
        border-bottom: 1px solid #f2f2f2;
        display: block;
        padding: 0 29px;
        color: #262626;
        font-family: "Raleway Medium";
        font-size: 14px;
        font-weight: 500;
      }
    }

    .language {
      .sl-nav li:hover .triangle {
        top: 32px;
        right: -25px;
      }

      .sl-nav li ul {
        bottom: -60px;
      }
    }

    .mobile-menu__footer {
      padding: 20px;

      .work-time {
        display: flex;
        flex-direction: column;
      }

      .phone {
        padding-bottom: 20px;
      }
    }

    .social-block {
      display: inline-block;

      h4 {
        padding: 10px 0 5px 0;
      }

      .social-box {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
      }
    }
  }
}

.modal-header {
  line-height: 59px;
  padding-left: 29px;
  padding-right: 29px;
  border-bottom: 1px solid #f2f2f2;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.bucket__products {
  .product {
    display: flex;
    padding: 20px 0;
    border-bottom: 2px solid #f2f2f2;
    position: relative;

    .count {
      padding: 0;
    }

    &__remove {
      cursor: pointer;
      top: 5px;
      right: 0;
      width: 15px;
      height: 15px;
      border-radius: 50%;
      position: absolute;
      background-position: center;
      background-image: url('../images/icon_remove-round.png')
    }

    .img-box {
      width: 65px;
      min-width: 65px;
      height: 95px;
      margin-right: 15px;
      display: flex;
      align-items: center;
      background-color: #fafafa;

      img {
        height: 100%;
        width: 100%;
        object-fit: cover;
      }
    }

    .info-box {
      color: rgba(0, 0, 0, 0.3);
      font-size: 15px;
      font-weight: 400;
      width: 100%;

      .title {
        color: #262626;
        font-size: 15px;
        opacity: 1;
        font-weight: 400;
      }

      .price-box {
        color: #000000;
        font-size: 18px;
        font-weight: 400;
      }
    }
  }
}

#bucket-container {
  overflow: hidden;

  .bucket__products {
    padding: 20px 10px 20px 20px;
    overflow: auto;
    max-height: 60%;
    overflow-x: hidden;
  }

  .bucket {
    background: #fff;
    position: absolute;
    right: 0;
    max-width: 400px;
    width: 100%;
    height: 100%;
    top: 0;
    overflow: auto;

    &__header {
      @extend .modal-header;
      color: #000000;
      font-family: 'Chekhovskoy';
      font-size: 20px;
    }

    &__footer {
      display: flex;
      flex-direction: column;
      padding: 0 20px;
      border-top: 1px solid #f2f2f2;

      button {
        // width: 292px;
        height: 45px;
        background-color: #c5dcd8;
      }

      .back-link-box {
        margin-top: 20px;

        .back-link {
          color: #000000;
          font-size: 15px;
          font-weight: 400;
          cursor: pointer;
          position: relative;
          display: inline-block;
          opacity: 0.5;
          padding-right: 20px;

          &:after {
            content: '';
            position: absolute;
            border-right: 1px solid #000;
            border-top: 1px solid #000;
            display: block;
            width: 10px;
            height: 10px;
            transform: rotate(45deg);
            right: 0px;
            top: 6px;
          }
        }
      }

      .sum {
        color: #000000;
        font-size: 18px;
        font-weight: 400;
        padding: 20px 0;
        display: inline-block;
      }
    }
  }
}

#bread-crumbs {
  font-family: "Raleway";
  margin: 20px 0 20px 0;
  opacity: 0.3;
  color: #000000;
  font-size: 12px;
  font-weight: 400;

  ul {
    padding: 0;
    margin: 0;
    list-style-type: none;
    display: flex;

    li {
      &:after {
        content: '/';
        display: inline-block;
        margin: 0 5px
      }

      &:last-child:after {
        display: none;
      }
    }
  }
}

body.modal-open {
  position: relative; // that's it
  overflow: hidden;
}

.form-checkbox {
  .form-checkbox-input {
    width: 6px;
    height: 6px;
    border: 1px solid #000000;
    margin-right: 7px;
    vertical-align: middle;
  }

  .form-checkbox-label {
    cursor: pointer;
    margin: 0;

    span {
      color: #000000;
      font-size: 12px;
      font-weight: 400;
      vertical-align: middle;
    }
  }
}

input[type=range] {
  -webkit-appearance: none;
  width: 90%;
  margin: 17px 6px 7px;
}

input[type=range]:focus {
  outline: none;
}

input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 1px;
  cursor: pointer;
  box-shadow: 0px 0px 0px rgba(0, 0, 0, 0), 0px 0px 0px rgba(13, 13, 13, 0);
  background: #000000;
  border-radius: 0px;
  border: 0px solid rgba(0, 0, 0, 0);
}

input[type=range]::-webkit-slider-thumb {
  box-shadow: 0px 0px 0px rgba(0, 0, 0, 0), 0px 0px 0px rgba(13, 13, 13, 0);
  border: 1px solid #000000;
  height: 8px;
  width: 8px;
  border-radius: 50px;
  background: #c5dcd4;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -3.5px;
}

input[type=range]:focus::-webkit-slider-runnable-track {
  background: #0d0d0d;
}

input[type=range]::-moz-range-track {
  width: 100%;
  height: 1px;
  cursor: pointer;
  box-shadow: 0px 0px 0px rgba(0, 0, 0, 0), 0px 0px 0px rgba(13, 13, 13, 0);
  background: #000000;
  border-radius: 0px;
  border: 0px solid rgba(0, 0, 0, 0);
}

input[type=range]::-moz-range-thumb {
  box-shadow: 0px 0px 0px rgba(0, 0, 0, 0), 0px 0px 0px rgba(13, 13, 13, 0);
  border: 1px solid #000000;
  height: 8px;
  width: 8px;
  border-radius: 50px;
  background: #c5dcd4;
  cursor: pointer;
}

input[type=range]::-ms-track {
  width: 100%;
  height: 1px;
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  color: transparent;
}

input[type=range]::-ms-fill-lower {
  background: #000000;
  border: 0px solid rgba(0, 0, 0, 0);
  border-radius: 0px;
  box-shadow: 0px 0px 0px rgba(0, 0, 0, 0), 0px 0px 0px rgba(13, 13, 13, 0);
}

input[type=range]::-ms-fill-upper {
  background: #000000;
  border: 0px solid rgba(0, 0, 0, 0);
  border-radius: 0px;
  box-shadow: 0px 0px 0px rgba(0, 0, 0, 0), 0px 0px 0px rgba(13, 13, 13, 0);
}

input[type=range]::-ms-thumb {
  box-shadow: 0px 0px 0px rgba(0, 0, 0, 0), 0px 0px 0px rgba(13, 13, 13, 0);
  border: 1px solid #000000;
  height: 8px;
  width: 8px;
  border-radius: 50px;
  background: #c5dcd4;
  cursor: pointer;
  height: 1px;
}

input[type=range]:focus::-ms-fill-lower {
  background: #000000;
}

input[type=range]:focus::-ms-fill-upper {
  background: #0d0d0d;
}

input[type=range] {
  position: relative;
}

input[type=range]:after {
  position: absolute;
  content: '';
  display: block;
  right: -8px;
  width: 8px;
  height: 8px;
  top: -3px;
  border: 1px solid black;
  border-radius: 50%;
  background-color: #fff;
  cursor: pointer;
}

input[type=range]:before {
  cursor: pointer;
  position: absolute;
  content: '';
  display: block;
  left: -8px;
  width: 8px;
  height: 8px;
  top: -3px;
  border: 1px solid black;
  border-radius: 50%;
  background-color: #fff;
}

.form-checkbox {
  .custom-checkbox {
    padding-left: 1rem;
  }

  label {
    &:before {
      border-radius: 50%;
      border: 1px solid black;
      background-color: #fff;
      width: 0.5rem;
      height: 0.5rem;
      top: .5rem;
      left: -1rem;
    }

    &:after {
      border-radius: 50%;
      width: 0.5rem;
      height: 0.5rem;
    }
  }
}

.main-content {
  display: flex;
  flex-direction: column;

  .container {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
  }
}

.centered-section {
  max-width: 400px;
  width: 100%;
  padding: 20px;

  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.error {
  border: 1px solid red !important;
}

.error-messages {
  visibility: hidden;
  color: red;
  text-align: center;

  &.active {
    visibility: visible;
  }
}

.emptyCart {
  text-align: center;
  font-size: 18px;
}

.order-section {
  font-family: 'Raleway';

  @include media-breakpoint-down(md) {
    font-family: "Raleway Medium";
  }

  .order-bucket {
    overflow: hidden;

    .order-price {
      color: #262626;
      font-size: 18px;
      font-weight: 400;
    }

    .bucket__products {
      overflow: hidden;
      overflow-y: auto;
      max-height: 580px;
      height: 100%;
      padding-right: 10px;

      .order-price-box {
        color: #262626;
        font-size: 18px;
        font-weight: 400;
        /* Text style for "500 грн" */
        letter-spacing: 1px;
      }

      .product {
        padding: 0 20px;
        margin-top: 20px;

        .row {
          width: 100%;
        }

        .price-box p {
          color: #262626;
          font-size: 18px;
          font-weight: 400;
          /* Text style for "500 грн" */
          letter-spacing: 1px;
        }

        p {
          color: #262626;
          font-size: 14px;
          font-weight: 400;
          /* Text style for "Количество" */
          letter-spacing: 0.6px;
        }

        h5 {
          color: #262626;
          font-size: 14px;
          font-weight: 400;
          /* Text style for "Количество" */
          letter-spacing: 0.6px;
        }

        .img-box {
          flex-grow: 1;
          height: auto;
          min-width: unset;
          max-width: 180px;
          width: 100%;
        }
      }
    }
  }
}

.not-found-page {
  font-size: 28px;
  height: 50vh;
  text-align: center;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  a {
    margin-top: 30px;
    font-size: 20px;
    color: #c0ddd8;
    text-decoration: underline;
  }
}

.noProducts {
  display: flex;
  margin: 0 auto;
  font-size: 16px;
  margin-top: 10%;
  transform: translate(0, -10%);
}

.amaran.user.blue {
  background: rgba(192, 221, 216, 0.8) !important;
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.55) !important;
  border-radius: 0 !important;
  color: #262626 !important;
  font-family: "Raleway" !important;
}


.amaran.user b {
  display: block;
  font-size: 16px;
  font-weight: bold;
  padding-bottom: 5px;
}

.amaran.user .info {
  padding-left: 0 !important;
  padding-top: 10px;
  font-size: 14px;
  display: flex !important;
  flex-direction: column !important;
  justify-content: center;
  align-items: center;
}

.errorMessage {
  font-size: 15px;
  color: red;
  text-transform: uppercase;
  text-align: center;
}
