<section id="section-brands">
    <h2 class="section-title">Бренды</h2>
    <div class="brands-list">
        <div class="brand"><img alt="chanel" class="brand-img" src="../../assets/images/brand_kisspng.png"></div>
        <div class="brand"><img alt="fashion_network" class="brand-img"
                                src="../../assets/images/brand_fashion_network.png"></div>
        <div class="brand"><img alt="chanel" class="brand-img" src="../../assets/images/brand_chanel.png"></div>
        <div class="brand"><img alt="chanel" class="brand-img" src="../../assets/images/brand_zara.png"></div>
        <div class="brand"><img alt="chanel" class="brand-img" src="../../assets/images/brand_vogue.png"></div>
        <div class="brand"><img alt="chanel" class="brand-img" src="../../assets/images/brand_vogue.png"></div>
        <div class="brand"><img alt="chanel" class="brand-img" src="../../assets/images/brand_kristina_gaskin.png">
        </div>
        <div class="brand"><img alt="chanel" class="brand-img" src="../../assets/images/brand_fashiontv.png"></div>
        <div class="brand"><img alt="chanel" class="brand-img" src="../../assets/images/brand_top_fashion.png">
        </div>
        <div class="brand"><img alt="chanel" class="brand-img" src="../../assets/images/brand_chanel.png"></div>

        <div class="brand"><img alt="chanel" class="brand-img" src="../../assets/images/brand_kisspng.png"></div>
        <div class="brand"><img alt="fashion_network" class="brand-img"
                                src="../../assets/images/brand_fashion_network.png"></div>
        <div class="brand"><img alt="chanel" class="brand-img" src="../../assets/images/brand_chanel.png"></div>
        <div class="brand"><img alt="chanel" class="brand-img" src="../../assets/images/brand_zara.png"></div>
        <div class="brand"><img alt="chanel" class="brand-img" src="../../assets/images/brand_vogue.png"></div>
        <div class="brand"><img alt="chanel" class="brand-img" src="../../assets/images/brand_vogue.png"></div>
        <div class="brand"><img alt="chanel" class="brand-img" src="../../assets/images/brand_kristina_gaskin.png">
        </div>
        <div class="brand"><img alt="chanel" class="brand-img" src="../../assets/images/brand_fashiontv.png"></div>
        <div class="brand"><img alt="chanel" class="brand-img" src="../../assets/images/brand_top_fashion.png">
        </div>
        <div class="brand"><img alt="chanel" class="brand-img" src="../../assets/images/brand_chanel.png"></div>
    </div>

    <div class="more-wrapper" id="more-brands-box">
        <a class="more-link more-link--open">Показать все</a>
        <a class="more-link more-link--close">Свернуть</a>
    </div>
</section>
