<div id="bread-crumbs">
    <ul>
        <li><a href="/">Главная</a></li>
        <li><a href="/catalog/1">Каталог</a></li>
        <li><a href="/catalog/{{this.activeCategory}}/1">{{this.activeCategory}}</a></li>
    </ul>
</div>
