<div aria-hidden="true" aria-labelledby="bucket-container" class="modal animated fadeIn" id="bucket-container" role="dialog"
    tabindex="-1">
    <div class="bucket">
        <div class="bucket__header">
            <span>Корзина</span>
            <button class="icon-btn chrest" data-target="#bucket-container" data-toggle="modal" type="button"></button>
        </div>

        <div class="bucket__products">
            <div class="scroll-box">

            </div>
        </div>

        <div class="bucket__footer">

            <span class="sum">Сумма заказа: <i class="purchase-sum"></i></span>

            <button onclick="window.location.href = '/user/order'">Оформить заказ</button>
            <div class="back-link-box">
                <span class="back-link" data-target="#bucket-container" data-toggle="modal">Вернуться к покупкам</span>

            </div>
        </div>
    </div>
</div>