<div class="filters-container product-filters d-none d-xl-block col-xl-2">
    <div class="product-filters__categories">
        <h3 class="product-filters__title">Категория</h3>

        <ul class="filters-list p-0">
            {{#each this.category}}
                <li><a {{#categoryActive expected=name}}class="active" {{/categoryActive}}
                        href="/catalog/{{name}}/1">{{name}}
                </a></li>
            {{/each}}
        </ul>

    </div>

    <div class="product-filters__filters">
        <h3 class="product-filters__title">Фильтр</h3>

        <div class="sub-filters-container">
            <div class="sub-filter">
                <h5 class="product-filters__sub-title">Размер</h5>
                <div class="sub-filters-box">
                    <div class="form-checkbox">
                        <div class="custom-control custom-checkbox">
                            <input class="custom-control-input" id="customCheck1" type="checkbox" name="size[]"
                                   value="48" data-id="48">
                            <label class="custom-control-label" for="customCheck1">48</label>
                        </div>
                    </div>

                    <div class="form-checkbox">
                        <div class="custom-control custom-checkbox">
                            <input class="custom-control-input" id="customCheck2" type="checkbox" name="size[]"
                                   value="50" data-id="50">
                            <label class="custom-control-label" for="customCheck2">50</label>
                        </div>
                    </div>

                    <div class="form-checkbox">
                        <div class="custom-control custom-checkbox">
                            <input class="custom-control-input" id="customCheck3" type="checkbox" name="size[]"
                                   value="52" data-id="52">
                            <label class="custom-control-label" for="customCheck3">52</label>
                        </div>
                    </div>

                    <div class="form-checkbox">
                        <div class="custom-control custom-checkbox">
                            <input class="custom-control-input" id="customCheck4" type="checkbox" name="size[]"
                                   value="54" data-id="54">
                            <label class="custom-control-label" for="customCheck4">54</label>
                        </div>
                    </div>

                    <div class="form-checkbox">
                        <div class="custom-control custom-checkbox">
                            <input class="custom-control-input" id="customCheck5" type="checkbox" name="size[]"
                                   value="56" data-id="56">
                            <label class="custom-control-label" for="customCheck5">56</label>
                        </div>
                    </div>
                </div>
            </div>

            <div class="sub-filter">
                <h5 class="product-filters__sub-title">По цене</h5>
                <div class="form-group">
                    <input class="form-control-range" id="price-range" type="range" value="0" min="0"
                           max="100" name="price[]">
                    <label for="price-range">До <span id="choosen-price">0</span> грн.</label>
                </div>
            </div>
        </div>
    </div>
</div>
