<section id="section-reviews">
    <h2 class="section-title">Отзывы покупателей</h2>
    <div class="reviews">
        <div class="swiper-pagination"></div>
        <div class="swiper-button-prev"></div>
        <div class="swiper-button-next"></div>
        <div class="swiper-container">
            <div class="swiper-wrapper">
                <!-- Slides -->

                <div class="swiper-slide">
                    <div class="product reviews-product card">
                        <div class="reviews-product__image-box">
                            <img alt="Card image cap" class="card-img-top"
                                 src="../assets/images/default_product.png">
                        </div>
                        <div class="reviews-product__body card-body">
                            <div class="reviews-product-header">
                                <h6 class="product__title">Ужасное платье, но оно дешёвое</h6>
                                <div class="reviews-product-header__footer">
                                    <span class="product__article">8275-а</span>
                                    <span class="product__price">50грн</span>
                                </div>
                            </div>
                            <div class="reviews-product__review">
                                Очень довольна покупкой! Платье сидит идеально, размер соответствует. Ткань
                                очень приятная к телу.
                                Всем девушкам советую!
                            </div>
                            <div class="reviews-product__contacts">
                                <span class="name">Elena</span>
                                <div class="time">12.13.1313</div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="swiper-slide">
                    <div class="product reviews-product card">
                        <div class="reviews-product__image-box">
                            <img alt="Card image cap" class="card-img-top"
                                 src="../assets/images/default_product.png">
                        </div>
                        <div class="reviews-product__body card-body">
                            <div class="reviews-product-header">
                                <h6 class="product__title">Ужасное платье, но оно дешёвое</h6>
                                <div class="reviews-product-header__footer">
                                    <span class="product__article">8275-а</span>
                                    <span class="product__price">50грн</span>
                                </div>
                            </div>
                            <div class="reviews-product__review">
                                Очень довольна покупкой! Платье сидит идеально, размер соответствует. Ткань
                                очень приятная к телу.
                                Всем девушкам советую!
                            </div>
                            <div class="reviews-product__contacts">
                                <span class="name">Elena</span>
                                <div class="time">12.13.1313</div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="swiper-slide">
                    <div class="product reviews-product card">
                        <div class="reviews-product__image-box">
                            <img alt="Card image cap" class="card-img-top"
                                 src="../assets/images/default_product.png">
                        </div>
                        <div class="reviews-product__body card-body">
                            <div class="reviews-product-header">
                                <h6 class="product__title">Ужасное платье, но оно дешёвое</h6>
                                <div class="reviews-product-header__footer">
                                    <span class="product__article">8275-а</span>
                                    <span class="product__price">50грн</span>
                                </div>
                            </div>

                            <div class="reviews-product__review">
                                Очень довольна покупкой! Платье сидит идеально, размер соответствует. Ткань
                                очень приятная к телу.
                                Всем девушкам советую!
                            </div>
                            <div class="reviews-product__contacts">
                                <span class="name">Elena</span>
                                <div class="time">12.13.1313</div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="swiper-slide">
                    <div class="product reviews-product card">
                        <div class="reviews-product__image-box">
                            <img alt="Card image cap" class="card-img-top"
                                 src="../assets/images/default_product.png">
                        </div>
                        <div class="reviews-product__body card-body">
                            <div class="reviews-product-header">
                                <h6 class="product__title">Ужасное платье, но оно дешёвое</h6>
                                <div class="reviews-product-header__footer">
                                    <span class="product__article">8275-а</span>
                                    <span class="product__price">50грн</span>
                                </div>
                            </div>

                            <div class="reviews-product__review">
                                Очень довольна покупкой! Платье сидит идеально, размер соответствует. Ткань
                                очень приятная к телу.
                                Всем девушкам советую!
                            </div>
                            <div class="reviews-product__contacts">
                                <span class="name">Elena</span>
                                <div class="time">12.13.1313</div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>
