<footer class="d-flex flex-column" id="page-footer">
    <div class="container">

        <div class="right-side__menu right-side__menu--mobile expanded-menu__col text-center row m-0">
            <a class="main-menu__link main-menu__catalog-link col-6 col-sm-3 p-0" href="/catalog/">Каталог</a>
            <p class="right-side__line"></p>
            <a class="main-menu__link  col-6 col-sm-3 p-0" href="/howto">Как заказать</a>
            <p class="right-side__line"></p>
            <a class="main-menu__link  col-6 col-sm-3 p-0" href="/dropshipping">Дропшиппинг</a>
            <p class="right-side__line"></p>
            <a class="main-menu__link col-6 col-sm-3 p-0" href="/contacts.html">Контакты</a>
        </div>

        <div class="d-flex footer-main row">
            <div class="left-side col-sm-6 col-12">
                <div>
                    <a class="phone" href="tel:+38 097 977 99 77">+38 097 977 99 77</a>

                    <div class="work-time-block">
                        <p>График работы Call-центра</p>
                        <p>Пн-Пт: с 8:00 - 20:00</p>
                        <p>Сб-Вс : с 9:00 - 18:00</p>
                    </div>
                </div>

                <div class="social">
                    <h3>Мы в соц. сетях:</h3>

                    <div class="social-box">
                        <a class="social-icon social-icon__inst" href="#"></a>
                        <a class="social-icon social-icon__fb" href="#"></a>
                        <a class="social-icon social-icon__twitter" href="#"></a>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-6">

                <div class="right-side row justify-content-between">
                    <div class="right-side__menu right-side__menu--desc expanded-menu__col col-12 col-md-6 col-lg-4">
                        <a class="main-menu__link main-menu__catalog-link" href="/catalog/">Каталог</a>
                        <a class="main-menu__link" href="/howto">Как заказать</a>
                        <a class="main-menu__link" href="/dropshipping">Дропшиппинг</a>
                        <a class="main-menu__link" href="/contacts">Контакты</a>
                    </div>

                    <ul class="expanded-menu__col col-12 col-md-6 row m-0 categories">
                        {{#each this.category}}
                            <li>
                                <a {{#categoryActive expected=name}}class="active" {{/categoryActive}}
                                        href="/catalog/{{name}}/1">{{name}}
                                </a>
                            </li>
                        {{/each}}
                    </ul>
                </div>
            </div>
        </div>
    </div>
</footer>

<div id="copyright">
    Command+X / 2018
</div>

<script src="../../scripts/libs-min.js" defer></script>
<script src="../../scripts/jquery.amaran.min.js" defer></script>
{{#checkPage expected='includeMask' val=this.url}}
    <script src="../../scripts/jquery.mask.min.js" defer></script>
{{/checkPage}}
<script src="../../scripts/main.js" defer></script>

<body>
</html>
