<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="utf-8"/>
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <title>Kattele</title>
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <link href="../../assets/css/libs.min.css" media="screen" rel="stylesheet" type="text/css"/>
    <link href="../../assets/css/main.min.css" media="screen" rel="stylesheet" type="text/css"/>
    <link href="https://fonts.googleapis.com/css?family=Raleway:400,500" rel="stylesheet">
    <link href="../../assets/css/amaran.min.css" media="screen" rel="stylesheet" type="text/css"/>
    <link href="../../assets/css/animate.min.css" media="screen" rel="stylesheet" type="text/css"/>
</head>

<body class="page-container">
{{> nav }}
