<header class="{{#navClassToggle expected='main' val=this.url}}{{/navClassToggle}}">
    <div class="row top-nav">

        <div class="col-1 p-0 mobile-menu">
            <button class="mobile-menu__button" data-target="#mobile-menu-container" data-toggle="modal"
                    id="mobile-menu-open"></button>
        </div>

        <div class="col-8 p-0 col-lg-2 logo">
            <a href="/"><img alt="Kattele" class="logo-img" src="../../assets/images/logo.png"></a>
        </div>

        <div class="col-9 col-lg-6 desktop-nav">
            <nav class="main-menu">
                <div class="main-menu__item">
                    <a class="main-menu__link main-menu__catalog-link" href="/catalog/1">Каталог</a>
                    <div class="expanded-menu">
                        <div class="row">
                            <ul class="expanded-menu__col col-12">
                                {{#each this.category}}
                                    <li>
                                        <a {{#categoryActive expected=name}}class="active" {{/categoryActive}}
                                                href="/catalog/{{name}}/1">{{name}}
                                        </a>
                                    </li>
                                {{/each}}
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="main-menu__item"><a class="main-menu__link" href="/howto">Как заказать</a></div>
                <div class="main-menu__item"><a class="main-menu__link" href="/dropshipping">Дропшиппинг</a></div>
                <div class="main-menu__item"><a class="main-menu__link" href="/contacts">Контакты</a></div>
            </nav>
        </div>

        <div class="col-3 col-lg-2 col-xl-3 p-0 right-menu">
            <button class="icon-link icon-link__search" data-target="#search-container" data-toggle="modal"
                    id="search-btn"></button>

            {{#if (isTrue this.authorized)}}
                <a class="icon-link icon-link__like" href="/user/cabinet"></a>
            {{else}}
                <a class="icon-link icon-link__like" href="/login"></a>
            {{/if}}

            <button class="icon-link icon-link__shop" data-target="#bucket-container" data-toggle="modal"
                    id="bucket-btn"></button>
        </div>
        <div class="col-1 language">
            <div class="sl-nav">
                <ul>
                    <li><b>{{this.activeCurrency}}</b>
                        <div class="triangle"></div>
                        <ul>
                            {{#each this.currency}}
                                <li onclick="changeCurrency(event)"><span {{#activeCurrency
                                        expected=name}}class="active" {{/activeCurrency}}>{{this.type}}</span></li>
                            {{/each}}
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <div class="modal animated fadeIn" id="search-container">
        <div class="search-wrapper">
            <div class="form-group m-0">
                <input class="form-control main-search-field" placeholder="Поиск" type="text">
            </div>

            <button class="btn btn-primary submit-btn" type="submit">Submit</button>
            <button class="btn btn-primary icon-link icon-link__chrest clear-search-btn" data-dismiss="modal"
                    aria-label="Close" type="button"></button>
        </div>
    </div>

    {{> cart}}

    <div aria-labelledby="mobile-menu-container" class="modal animated fadeIn" id="mobile-menu-container"
         role="dialog" tabindex="1">
        <div class="mobile-menu">
            <div class="mobile-menu__head">
                <button class="icon-btn chrest" data-target="#mobile-menu-container" data-toggle="modal"></button>
                <div class="language">
                    <div class="sl-nav">
                        <ul>
                            <li><b>uah</b>
                                <div class="triangle"></div>
                                <ul>
                                    <li><span class="active">uah</span></li>
                                    <li><span>usd</span></li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

            <nav class="mobile-menu__nav">
                <a class="mobile-menu__item" href="#">Каталог</a>
                <a class="mobile-menu__item" href="#">Как заказать</a>
                <a class="mobile-menu__item" href="#">Дропшипинг</a>
                <a class="mobile-menu__item" href="#">Контакты</a>
                <a class="mobile-menu__item" href="private_office.html">Мой аккаунт</a>
            </nav>

            <div class="mobile-menu__footer">
                <a class="phone" href="tel:+38 097 977 99 77">+38 097 977 99 77</a>
                <div class="work-time">
                    <span> График работы Call-центра</span>
                    <span>Пн-Пт: с 8:00 - 20:00</span>
                    <span>Сб-Вс : с 9:00 - 18:00</span>
                </div>
                <div class="social-block">
                    <h4>Мы в соц. сетях:</h4>
                    <div class="social-box">
                        <a class="social-icon social-icon__inst" href="#"></a>
                        <a class="social-icon social-icon__fb" href="#"></a>
                        <a class="social-icon social-icon__twitter" href="#"></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>
