<div class="new-products products-block">
    <h2 class="section-title">Новинки</h2>
    <div class="products">
        {{#each this.products}}
            <div class="product card" data-id="{{id}}">

                <a href="/product/{{article}}">
                    <div class="product__image-box">

                        <img alt="Card image cap" class="card-img-top"
                             src="../../images/products/{{imageCategory}}/{{mainImage}}">
                        {{#if (isTrue ../this.authorized)}}
                            <button class="product__btn product__like {{#if
                                    (isTrue favorite)}}active{{/if}}"></button>
                        {{/if}}
                        <!--<button class="product__btn product__bag"></button>-->
                    </div>
                </a>
                <div class="card-body">
                    <a href="/product/{{article}}">
                        <h6 class="product__title">{{name}}</h6>
                    </a>

                    <div class="product__footer">
                        <span class="product__article">{{article}}</span>
                        <span class="product__price">{{sell_price}} {{../this.topList.choosedCurrency.ru_lang}}</span>
                    </div>
                </div>
            </div>
        {{/each}}
    </div>
</div>
