<div class="col-12 col-xl-12" id="catalog-products">
    <div class="catalog-header row">

        <div class="col-12 col-sm-4 col-xl-12 d-flex">
            <h3 class="header-section">Вы ищете - {{this.activeCategory}}</h3>
        </div>
    </div>

    <div class="catalog products-block row">
        {{#if (noProduct this.goods)}}
            <div class="noProducts">{{this.goods.error}}</div>
        {{else}}
            {{#each this.goods.products}}
                <div class="product card w-auto col-6 col-md-4 col-lg-3" data-id="{{id}}">

                    <a href="/product/{{article}}">
                        <div class="product__image-box">

                            <img alt="Card image cap" class="card-img-top"
                                 src="../../images/products/{{imageCategory}}/{{mainImage}}">
                            {{#if (isTrue ../this.authorized)}}
                                <button class="product__btn product__like {{#if
                                        (isTrue favorite)}}active{{/if}}"></button>
                            {{/if}}
                            <!--<button class="product__btn product__bag"></button>-->
                        </div>
                    </a>
                    <div class="card-body">
                        <a href="/product/{{article}}">
                            <h6 class="product__title">{{name}}</h6>
                        </a>

                        <div class="product__footer">
                            <span class="product__article">{{article}}</span>
                            <span class="product__price">{{sell_price}} {{../this.goods.productCurrency.ru_lang}}</span>
                        </div>
                    </div>
                </div>
            {{/each}}
        {{/if}}
    </div>

    {{#if (noProduct this.goods)}}
    {{else}}
        <ul class="pagination">
            {{#paginate pagination type="previous"}}
                <li {{#if disabled}}class="disabled"{{/if}}><a class="prevpage" href="./{{n}}">&laquo;</a></li>
            {{/paginate}}
            {{#paginate pagination type="middle" limit="7"}}
                <li><a {{#if active}}class="active"{{/if}} href="./{{n}}">{{n}}</a></li>
            {{/paginate}}
            {{#paginate pagination type="next"}}
                <li {{#if disabled}}class="disabled"{{/if}}><a class="nextpage" href="./{{n}}">&raquo;</a></li>
            {{/paginate}}
        </ul>
    {{/if}}
</div>
