<section class="page-section header-section header-section__slider" id="header-section">

    <div class="swiper-container">

        <div class="swiper-wrapper">

            <div class="swiper-slide">
                <img alt="banner1" class="img-fluid slide-img" src="../../assets/images/main_banner_1.jpg"/>
            </div>

            <div class="swiper-slide">
                <img alt="banner2" class="img-fluid slide-img" src="../../assets/images/default_bg_2.jpg"/>
            </div>

            <div class="swiper-slide">
                <img alt="banner3" class="img-fluid slide-img" src="../../assets/images/default_bg_3.jpg"/>
            </div>


        </div>

        <div class="swiper-pagination"></div>
        <div class="swiper-button-prev"></div>
        <div class="swiper-button-next"></div>
    </div>
</section>
